<brixi-progress-indicator
    data-total="100"
></brixi-progress-indicator>

<brixi-progress-indicator
    data-total="100"
    data-color="primary"
></brixi-progress-indicator>

<brixi-progress-indicator
    data-total="100"
    data-color="success"
></brixi-progress-indicator>

<brixi-progress-indicator
    data-total="100"
    data-color="warning"
></brixi-progress-indicator>

<brixi-progress-indicator
    data-total="100"
    data-color="danger"
></brixi-progress-indicator>

<script>
    const indicators = document.querySelectorAll('brixi-progress-indicator');
    setInterval(() => {
        indicators.forEach((element) => {
            if (element?.progress) element.progress();
        });
    }, 150);
</script>
