progress-indicator {
    display: block;
    position: relative;
    cursor: progress;

    svg {
        position: absolute;
        width: 100%;
        height: 100%;

        &[color="white"] {
            .inner {
                color: var(--white);
            }
            .outter {
                color: var(--white);
            }
        }

        &[color="primary"] {
            .inner {
                color: var(--primary-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--primary-300);
                }
            }
            .outter {
                color: var(--primary-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--primary-400);
                }
            }
        }

        &[color="success"] {
            .inner {
                color: var(--success-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--success-300);
                }
            }
            .outter {
                color: var(--success-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--success-400);
                }
            }
        }

        &[color="warning"] {
            .inner {
                color: var(--warning-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--warning-300);
                }
            }
            .outter {
                color: var(--warning-400);

                @media (prefers-color-scheme: dark) {
                    color: var(--warning-400);
                }
            }
        }

        &[color="danger"] {
            .inner {
                color: var(--danger-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--danger-300);
                }
            }
            .outter {
                color: var(--danger-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--danger-400);
                }
            }
        }

        .inner {
            color: var(--grey-500);
            opacity: 0.3;

            @media (prefers-color-scheme: dark) {
                opacity: 0.15;
                color: var(--grey-400);
            }
        }

        .outter {
            stroke-dashoffset: 70;
            stroke-dasharray: 70;
            color: var(--grey-500);
            transition: all 150ms var(--ease-in-out);

            @media (prefers-color-scheme: dark) {
                color: var(--grey-400);
            }
        }
    }
}
