color-input {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 36px;

    &[state="DISABLED"] {
        opacity: 0.6;
        cursor: not-allowed !important;

        @media (prefers-color-scheme: dark) {
            opacity: 0.3;
        }
    }

    input[type="color"] {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;

        &:disabled {
            & + label {
                cursor: not-allowed !important;

                span {
                    color: var(--grey-400) !important;
                }
            }
        }

        &[readonly] {
            & + label {
                pointer-events: none;
            }
        }
    }

    label {
        display: inline-flex;
        align-items: center;
        flex-flow: row nowrap;
        cursor: pointer;

        color-preview {
            width: 32px;
            height: 32px;
            border-radius: 0.25rem;
            overflow: hidden;
            margin-right: 0.75rem;
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        }

        span {
            color: var(--grey-800);
            font-weight: var(--font-medium);

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }
        }
    }
}
