<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/breadcrumb-trail.css">
    <script type="module" src="/js/breadcrumb-trail.js"></script>
</head>
<body>
    <div id="example1" class="w-full block"></div>
<div id="example2" class="w-full block mt-1"></div>
<script type="module">
    import Component from "/js/breadcrumb-trail.js";
    const example = new Component({
        links: [
            {
                ariaLabel: "Go to homepage",
                icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="5 12 3 12 12 3 21 12 19 12"></polyline><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><rect x="10" y="12" width="4" height="4"></rect></svg>`,
                callback: ()=>{},
            },
            {
                label: "Example 1",
                callback: ()=>{},
            },
            {
                icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><ellipse cx="12" cy="6" rx="8" ry="3"></ellipse><path d="M4 6v6a8 3 0 0 0 16 0v-6"></path><path d="M4 12v6a8 3 0 0 0 16 0v-6"></path></svg>`,
                label: "Example 2",
                callback: ()=>{},
            },
        ],
    });
    const example2 = new Component({
        links: [
            {
                ariaLabel: "Go to homepage",
                icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="5 12 3 12 12 3 21 12 19 12"></polyline><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><rect x="10" y="12" width="4" height="4"></rect></svg>`,
                callback: ()=>{},
            },
            {
                label: "Example 1",
                callback: ()=>{},
            },
            {
                icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 16h-4l3.47 -4.66a2 2 0 1 0 -3.47 -1.54"></path><path d="M10 16v-8h4"></path><line x1="10" y1="12" x2="13" y2="12"></line><path d="M17 16v-6a2 2 0 0 1 4 0v6"></path><line x1="17" y1="13" x2="21" y2="13"></line></svg>`,
                label: "Example 2",
                callback: ()=>{},
            },
            {
                label: "Example 3",
                callback: ()=>{},
            },
            {
                label: "Example 4",
                callback: ()=>{},
            },
        ],
    });
    document.body.querySelector("#example1").appendChild(example);
    document.body.querySelector("#example2").appendChild(example2);
</script>

</body>
</html>
