<brixi-progress-badge
    data-total="100"
    data-label="Saving"
    data-color="primary"
></brixi-progress-badge>
<brixi-progress-badge
    data-total="100"
    data-label="Saving"
    data-color="success"
></brixi-progress-badge>
<brixi-progress-badge
    data-total="100"
    data-label="Saving"
    data-color="warning"
></brixi-progress-badge>
<brixi-progress-badge
    data-total="100"
    data-label="Saving"
    data-color="danger"
></brixi-progress-badge>
<brixi-progress-badge
    data-total="100"
    data-label="Saving"
    data-color="grey"
></brixi-progress-badge>

<script>
    const example = document.querySelector("brixi-progress-badge");
    example.addEventListener("finished", (e) => {
        alert("Finished");
        e.currentTarget.reset();
    });
    example.addEventListener("tick", (e) => {
        console.log(e.detail.tick);
    });
    setInterval(() => {
        example?.progress();
    }, 150);
</script>
