progress-badge {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 24px;
    line-height: 24px;
    padding: 0 0.75rem 0 0.25rem;
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    background-color: hsl(var(--primary-500-hsl) / 0.1);
    border-radius: 0.75rem;

    @media (prefers-color-scheme: dark) {
        background-color: hsl(var(--primary-300-hsl) / 0.05);
    }

    &[color="grey"] {
        background-color: hsl(var(--grey-500-hsl) / 0.1);

        span {
            color: var(--grey-800);
        }

        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--grey-300-hsl) / 0.05);

            span {
                color: var(--grey-400);
            }
        }
    }

    &[color="primary"] {
        background-color: hsl(var(--primary-500-hsl) / 0.1);

        span {
            color: var(--primary-800);
        }

        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--primary-300-hsl) / 0.05);

            span {
                color: var(--primary-400);
            }
        }
    }

    &[color="danger"] {
        background-color: hsl(var(--danger-500-hsl) / 0.1);

        span {
            color: var(--danger-800);
        }

        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--danger-300-hsl) / 0.05);

            span {
                color: var(--danger-400);
            }
        }
    }

    &[color="warning"] {
        background-color: hsl(var(--warning-500-hsl) / 0.1);

        span {
            color: var(--warning-800);
        }

        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--warning-300-hsl) / 0.05);

            span {
                color: var(--warning-400);
            }
        }
    }

    &[color="success"] {
        background-color: hsl(var(--success-500-hsl) / 0.1);

        span {
            color: var(--success-800);
        }

        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--success-300-hsl) / 0.05);

            span {
                color: var(--success-400);
            }
        }
    }

    span {
        display: inline-block;
        margin-left: 0.25rem;
        color: var(--grey-700);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }
}
