<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/multi-select.css">
    <script type="module" src="/spa/js/multi-select.js"></script>
</head>
<body>
    <multi-select-component
    data-label="Fruit"
    data-name="fruit"
    data-search="fuzzy"
    data-required="true"
    data-options='[
        {
            "label": "Apples",
            "value": "apples"
        },
        {
            "label": "Pears",
            "value": "pears"
        },
        {
            "label": "Bananas",
            "value": "bananas"
        }
    ]'
></multi-select-component>

<multi-select-component
    class="mt-2"
    data-label="Fruit"
    data-name="fruit"
    data-search="fuzzy"
    data-disabled="true"
    data-options='[
        {
            "label": "Apples",
            "value": "apples"
        },
        {
            "label": "Pears",
            "value": "pears"
        },
        {
            "label": "Bananas",
            "value": "bananas"
        }
    ]'
></multi-select-component>

<script>
    document.querySelector('multi-select-component').addEventListener('change', (e) => {
        console.log(e.detail);
    });
</script>

</body>
</html>
