<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/context-menu.css">
    <script type="module" src="/spa/js/context-menu.js"></script>
</head>
<body>
    <script type="module">
    import Component from "/spa/js/context-menu.js";
    new Component({
        items: [
            {
                label: "Back",
                callback: () => {
                    console.log("Back");
                },
            },
            {
                label: "Forward",
                callback: () => {
                    console.log("Forward");
                },
            },
            {
                label: "Reload",
                hotkey: "Ctrl+R",
                callback: () => {
                    location.reload();
                },
            },
            null,
            {
                label: "Action 1",
                callback: () => {
                    console.log("Action 1");
                },
            },
            {
                label: "Action 2",
                callback: () => {
                    console.log("Action 2");
                },
            },
        ],
        x: 24,
        y: 24,
    });
</script>

</body>
</html>
