<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/modals.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
    <script type="module">
        import { configure, update, mount, css } from "https://cdn.jsdelivr.net/npm/@codewithkyle/lazy-loader@1/lazy-loader.min.mjs";
        configure({
            jsDir: "/mpa/js",
            cssDir: "/css",
            default: "eager"
        });
    </script>
    <script type="module">
        import notifications from "/spa/js/alerts.js";
        window.addEventListener("alert:toast", (e) => {
            notifications.toast(e.detail)
        });
        window.addEventListener("alert:snackbar", (e) => {
            notifications.snackbar(e.detail)
        });
        window.addEventListener("alert:info", (e) => {
            notifications.alert(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:success", (e) => {
            notifications.success(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:warn", (e) => {
            notifications.warn(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:error", (e) => {
            notifications.error(e.detail.title, e.detail.message);
        });
    </script>
</head>
<body>
    <div css="button link" class="w-full text-center">
    <button 
        kind="solid" 
        color="grey" 
        class="m-0.5 bttn"
        x-data=""
        x-on:click="$dispatch('open:modal', { name: 'passive' })"
    >Passive</button>
    <button 
        kind="solid" 
        color="grey" 
        class="m-0.5 bttn"
        x-data=""
        x-on:click="$dispatch('open:modal', { name: 'confirm' })"
    >Confirm</button>
    <button 
        kind="solid" 
        color="grey" 
        class="m-0.5 bttn"
        x-data=""
        x-on:click="$dispatch('open:modal', { name: 'form' })"
    >Form</button>
</div>

<!-- Passivg modal -->
<brixi-modal 
    x-data="{ open: false }"
    x-show="open"
    x-on:open:modal.window="if ($event.detail.name === 'passive') open = true"
    x-on:keydown.escape.window="open = false"
>
    <div class="backdrop"></div>
    <div class="modal" style="width:512px;">
        <div class="block w-full py-1.5 px-2">
            <h2 class="font-lg font-medium font-grey-800 dark:font-grey-300 line-snug block mb-1">Unable to connect your account</h2>
            <p class="font-grey-700 dark:font-grey-300 font-sm line-normal block">Your changes were saved, but we could not connect your account due to a technical issue on our end. Please try reconnecting again. If the issue keeps happening, contact <a class="link" href="#">Customer Support</a>.</p>
        </div>
        <div class="w-full px-1 pb-1">
            <div class="w-full py-0.75 px-1 bg-grey-50 dark:bg-grey-950/60 radius-0.5" flex="row nowrap items-center justify-end">
                <button 
                    class="ml-0.5 bttn" 
                    color="grey" 
                    kind="solid"
                    x-on:click="open = false"
                >
                    <span>Cancel</span>
                </button>
                <button 
                    class="ml-0.5 bttn" 
                    color="grey" 
                    kind="solid"
                    x-on:click="open = false"
                >
                    <span>Try Again</span>
                </button>
            </div>
        </div>
    </div>
</brixi-modal>

<!-- Confirm modal -->
<brixi-modal 
    x-data="{ open: false }"
    x-show="open"
    x-on:open:modal.window="if ($event.detail.name === 'confirm') open = true"
    x-on:keydown.escape.window="open = false"
>
    <div class="backdrop"></div>
    <div class="modal" style="width:512px;">
        <div class="block w-full py-1.5 px-2">
            <h2 class="font-lg font-medium font-grey-800 dark:font-grey-300 line-snug block mb-1">Submit Order</h2>
            <p class="font-grey-700 dark:font-grey-300 font-sm line-normal block">Once your order is submitted production will begin automatically. This action cannot be undone.</p>
        </div>
        <div class="w-full px-1 pb-1">
            <div class="w-full py-0.75 px-1 bg-grey-50 dark:bg-grey-950/60 radius-0.5" flex="row nowrap items-center justify-end">
                <button 
                    class="ml-0.5 bttn" 
                    color="grey" 
                    kind="solid"
                    x-on:click="open = false"
                >
                    <span>Cancel</span>
                </button>
                <button 
                    class="ml-0.5 bttn" 
                    color="primary" 
                    kind="solid"
                    x-on:click="open = false"
                >
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </div>
</brixi-modal>

<!-- Form modal -->
<brixi-modal 
    x-data="{ open: false }"
    x-show="open"
    x-on:open:modal.window="if ($event.detail.name === 'form') open = true"
    x-on:keydown.escape.window="open = false"
>
    <div class="backdrop"></div>
    <form 
        class="modal" 
        style="width:512px;"
        x-on:submit.prevent="open = false"
    >
        <div class="block w-full py-1.5 px-2">
            <h2 class="font-lg font-medium font-grey-800 dark:font-grey-300 line-snug block mb-1">New Project</h2>
            <brixi-input css="input" class="input" state="IDLING" web-component>
                <input-container>
                    <input minlength="5" maxlength="10" type="text" id="demo1" name="demo1" autocapitalize="none" autocomplete="off" required>
                </input-container>
            </brixi-input>
        </div>
        <div class="w-full px-1 pb-1">
            <div class="w-full py-0.75 px-1 bg-grey-50 dark:bg-grey-950/60 radius-0.5" flex="row nowrap items-center justify-end">
                <button 
                    class="ml-0.5 bttn" 
                    color="grey" 
                    kind="solid"
                    x-on:click="open = false"
                >
                    <span>Cancel</span>
                </button>
                <button 
                    class="ml-0.5 bttn" 
                    color="primary" 
                    kind="solid"
                    type="submit"
                >
                    <span>Create Project</span>
                </button>
            </div>
        </div>
    </form>
</brixi-modal>

</body>
</html>
