tool-tip {
    background-color: var(--white);
    color: var(--grey-800);
    border-radius: 0.5rem;
    line-height: 22px;
    height: 24px;
    white-space: nowrap;
    padding: 0 0.5rem;
    font-size: var(--font-xs);
    font-weight: var(--font-medium);
    box-shadow: var(--bevel);
    pointer-events: none;
    transform-origin: center;
    display: inline-block;
    user-select: none;
    border: 1px solid var(--grey-300);

    @media (prefers-color-scheme: dark) {
        backdrop-filter: blur(4px);
        background-color: hsl(var(--grey-900-hsl) / 0.87);
        color: var(--white);
        border: 1px solid var(--grey-800);
    }
}
