multi-select-component {
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: pointer;

    &[state="DISABLED"] {
        cursor: not-allowed !important;
        opacity: 0.6;

        label,
        p {
            color: var(--grey-400) !important;
        }
        select-container {
            background-color: var(--grey-50) !important;
            border-color: var(--grey-200) !important;
            box-shadow: none !important;

            &::after {
                box-shadow: none !important;
            }

            select {
                cursor: not-allowed !important;
                background-color: var(--grey-50) !important;
            }
        }

        @media (prefers-color-scheme: dark) {
            opacity: 0.3;

            label,
            p {
                color: var(--grey-300) !important;
            }
            select-container {
                background-color: hsl(var(--white-hsl) / 0.05);
                border-color: var(--grey-700) !important;
            }
        }
    }

    &[state="ERROR"] {
        p {
            color: var(--danger-700) !important;
        }

        multiselect-container {
            border-color: var(--danger-400) !important;

            .icon {
                background-color: var(--danger-50) !important;
                border-color: var(--danger-400) !important;
                color: var(--danger-400) !important;
            }
        }

        @media (prefers-color-scheme: dark) {
            p {
                color: var(--danger-400) !important;
            }
            multiselect-container {
                border-color: var(--danger-400) !important;
                .icon {
                    background-color: hsl(var(--danger-300-hsl) / 0.05) !important;
                    border-color: var(--danger-400) !important;
                    color: var(--danger-400) !important;
                }
                .select {
                    background-color: hsl(var(--danger-300-hsl) / 0.05);
                }
                .selector {
                    color: var(--danger-400) !important;
                }
            }

            &:focus-within,
            &:focus {
                multiselect-container {
                    box-shadow: 0 0 0 5px hsl(var(--danger-400-hsl) / 0.1) !important;

                    .select {
                        background-color: hsl(var(--white-hsl) / 0);
                    }
                }
            }
        }
    }

    &:focus-within:not([state="DISABLED"]),
    &:focus:not([state="DISABLED"]) {
        multiselect-options {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        multiselect-container {
            outline: var(--focus-ring);
            outline-offset: 5px;
            transition: outline-offset 80ms var(--ease-in-out);

            @media (prefers-color-scheme: dark) {
                border-color: var(--primary-400);
                outline: none;
                box-shadow: 0 0 0 5px hsl(var(--primary-400-hsl) / 0.1);

                .icon {
                    border-color: var(--primary-400);
                    color: var(--primary-400);
                }

                .select {
                    background-color: hsl(var(--white-hsl) / 0);
                }

                .selector {
                    color: var(--primary-400);
                }
            }
        }
    }

    & > label {
        display: block;
        width: 100%;
        font-size: var(--font-sm);
        font-weight: 500;
        color: var(--grey-700);
        margin-bottom: 0.5rem;
        text-align: left;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    .select {
        height: 36px;
        display: block;
        width: 100%;
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 36px;
        padding: 0 calc(1rem + 24px) 0 0.5rem;
        color: var(--grey-800);
        transition: all 80ms var(--ease-in-out);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        box-shadow: none;

        &::placeholder {
            color: var(--grey-400);
        }

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
            background-color: hsl(var(--white-hsl) / 0.05);

            &:focus {
                background-color: hsl(var(--white-hsl) / 0);
            }

            &::placeholder {
                color: var(--grey-500);
            }
        }
    }

    p {
        display: block;
        margin-bottom: 0.5rem;
        font-size: var(--font-xs);
        color: var(--grey-500);
        line-height: 1.375;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    multiselect-container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        border: var(--input-border);
        background-color: var(--white);
        box-shadow: var(--bevel);
        //transition: all 80ms var(--ease-in-out);
        outline-offset: 0;

        @media (prefers-color-scheme: dark) {
            border-color: var(--grey-700);
            box-shadow: none;
            background-color: transparent;
        }
    }

    .selector {
        width: 24px;
        height: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--grey-400);
        pointer-events: none;
        position: absolute;
        bottom: calc((36px - 24px) / 2);
        right: 0.5rem;
        transition: all 80ms var(--ease-in-out);

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        pointer-events: none;
        color: var(--grey-400);
        background-color: var(--grey-50);
        border-right: var(--input-border);
        z-index: 2;
        transition: all 80ms var(--ease-in-out);

        svg {
            width: 18px;
            height: 18px;
        }
    }

    multiselect-options {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--white);
        border: var(--input-border);
        box-shadow: var(--bevel);
        border-radius: 0.5rem;
        padding: 0.5rem 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 1000;

        @media (prefers-color-scheme: dark) {
            border-color: var(--grey-800);
            box-shadow: none;
            background-color: var(--grey-900);
        }

        .search {
            background-color: var(--white);
            width: 100%;
            padding: 0 0.5rem 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: var(--input-border);
            display: flex;
            align-items: center;
            flex-flow: row nowrap;

            &:focus-within {
                i {
                    color: var(--grey-500);
                }
            }

            @media (prefers-color-scheme: dark) {
                background-color: var(--grey-900);
                border-bottom-color: var(--grey-800);

                &:focus-within {
                    i {
                        color: var(--grey-300);
                    }
                }
            }

            input {
                display: block;
                width: 100%;
                border: var(--input-border);
                border-radius: 0.25rem;
                padding: 0 0.5rem 0 calc(14px + 0.5rem);
                height: 24px;
                font-size: var(--font-xs);
                line-height: 1;
                transition: all 80ms var(--ease-in-out);
                outline: none;
                box-shadow: none;
                color: var(--grey-700);

                &:focus {
                    border-color: var(--primary-500);
                }

                @media (prefers-color-scheme: dark) {
                    border-color: hsl(var(--grey-950-hsl) / 0.6);
                    color: var(--grey-300);
                    background-color: hsl(var(--grey-950-hsl) / 0.6);
                    border-radius: 1rem;
                    padding-left: 2rem;

                    &:focus {
                        border-color: var(--primary-400);
                    }
                }
            }

            & > checkbox-component {
                position: relative;
                width: 24px;
                height: 24px;

                label {
                    min-height: auto;
                    width: 24px;
                    height: 24px;
                }
            }

            & > i {
                position: absolute;
                top: 5px;
                left: calc(1.25rem + 24px);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: var(--grey-400);
                transition: all 80ms var(--ease-in-out);
                z-index: 2;

                @media (prefers-color-scheme: dark) {
                    left: calc(1.5rem + 24px);
                }

                svg {
                    width: 14px;
                    height: 14px;
                }
            }
        }

        .options {
            max-height: 200px;
            overflow-y: auto;
            padding: 0 0.5rem;
            overscroll-behavior: contain;
        }
    }
}
