password-component {
    display: inline-block;
    width: 100%;
    position: relative;

    &[state="invalid"] {
        label {
            color: var(--danger-700);
        }
        input {
            border-color: var(--danger-400);
            background-color: var(--danger-100);

            &:hover {
                border-color: var(--danger-500);
            }

            &:focus {
                border-color: var(--danger-500);
                box-shadow: 0 0 0 5px var(--danger-100);
            }
        }
    }

    label {
        display: block;
        width: 100%;
        font-size: var(--font-sm);
        font-weight: var(--font-medium);
        color: var(--grey-800);
        margin-bottom: 0.5rem;
    }

    input {
        height: 48px;
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 48px;
        padding: 0 48px 0 1rem;
        background-color: var(--grey-100);
        border: 1px solid var(--grey-300);
        border-radius: 0.25rem;
        color: var(--grey-900);
        transition: all 150ms var(--ease-in-out);
        font-family: monospace;

        &:hover {
            border-color: var(--primary-400);
        }

        &:focus {
            border-color: var(--primary-400);
            box-shadow: 0 0 0 5px var(--primary-100);
            background-color: var(--white);
        }
    }

    button {
        position: absolute;
        width: 24px;
        height: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        bottom: 12px;
        right: 1rem;
        color: var(--grey-700);
        transition: all 150ms var(--ease-in-out);
        padding: 0;

        &:hover {
            color: var(--primary-700);
        }

        &:active {
            color: var(--primary-800);
        }

        svg {
            width: 18px;
            height: 18px;
            position: relative;
        }
    }
}
