group-button-component {
    display: inline-flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;

    button {
        transform: none !important;
        box-shadow: none !important;

        @media (prefers-color-scheme: dark) {
            border: none !important;
            background-color: hsl(var(--grey-950-hsl) / 0.6) !important;

            &:hover,
            &:focus-visible {
                &::before {
                    opacity: 0.1 !important;
                }
            }
            &:active {
                &::before {
                    opacity: 0.15 !important;
                }
            }
        }

        &:first-of-type:not(:only-child) {
            border-radius: 18px 0 0 18px !important;
            border-width: 1px 0 1px 1px !important;
        }
        &:last-of-type:not(:only-child) {
            border-radius: 0 18px 18px 0 !important;
            border-width: 1px 1px 1px 0 !important;
        }
        &:not(:first-of-type):not(:last-of-type):not(:only-child) {
            border-radius: 0 !important;
            border-width: 1px 0 1px 0 !important;
        }

        &:not(:last-of-type):not(:only-child) {
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -1px;
                bottom: 0;
                width: 2px;
                height: 50%;
                border-radius: 1px;
                background-color: var(--grey-200);
                transform: translateY(-50%);

                @media (prefers-color-scheme: dark) {
                    background-color: var(--grey-800);
                }
            }
        }

        &:first-of-type {
            &::before {
                border-radius: 18px 0 0 18px !important;
            }
        }

        &:last-of-type {
            &::before {
                border-radius: 0 18px 18px 0 !important;
            }
        }

        &:only-child {
            border-radius: 18px !important;
            border-width: 1px !important;

            &::before {
                border-radius: 18px !important;
            }
        }

        &::before {
            border-radius: 0 !important;
        }

        &.is-active {
            color: var(--primary-700) !important;

            &::before {
                background-color: var(--primary-500) !important;
                opacity: 0.05 !important;
            }

            @media (prefers-color-scheme: dark) {
                color: var(--primary-300) !important;
                &::before {
                    opacity: 0 !important;
                }
            }
        }
    }
}
