group-button {
    display: inline-flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;

    button {
        transform: none !important;
        box-shadow: none !important;

        &:first-of-type:not(:only-child) {
            border-radius: 0.25rem 0 0 0.25rem !important;
            border-width: 1px 0 1px 1px !important;
        }
        &:last-of-type:not(:only-child) {
            border-radius: 0 0.25rem 0.25rem 0 !important;
            border-width: 1px 1px 1px 0 !important;
        }
        &:not(:first-of-type):not(:last-of-type):not(:only-child) {
            border-radius: 0 !important;
            border-width: 1px 0 1px 0 !important;
        }

        &:not(:last-of-type):not(:only-child) {
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -1px;
                bottom: 0;
                width: 2px;
                height: 50%;
                border-radius: 1px;
                background-color: var(--grey-200);
                transform: translateY(-50%);
            }
        }

        &::before {
            border-radius: 0 !important;
        }

        &.is-active {
            color: var(--primary-700) !important;

            &::before {
                background-color: var(--primary-500) !important;
                opacity: 0.05 !important;
            }
        }
    }
}
