group-button {
    display: inline-flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;

    button {
        transform: none !important;
        box-shadow: none !important;

        &:first-of-type:not(:only-child) {
            border-radius: 0.25rem 0 0 0.25rem !important;

            &::before {
                border-radius: 0.25rem 0 0 0.25rem !important;
            }
        }
        &:last-of-type:not(:only-child) {
            border-radius: 0 0.25rem 0.25rem 0 !important;

            &::before {
                border-radius: 0 0.25rem 0.25rem 0 !important;
            }
        }
        &:not(:first-of-type):not(:last-of-type):not(:only-child) {
            border-radius: 0 !important;
            border-width: 1px 0 1px 0 !important;

            &::before {
                border-radius: 0 !important;
            }
        }
    }
}
