select-component,
.select {
    display: inline-block;
    width: 100%;
    position: relative;

    &[state="DISABLED"] {
        cursor: not-allowed !important;
        opacity: 0.6;

        @media (prefers-color-scheme: dark) {
            opacity: 0.3;
        }

        label,
        p {
            color: var(--grey-400) !important;

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300) !important;
            }
        }
        select-container {
            background-color: var(--grey-50) !important;
            border-color: var(--grey-200) !important;
            box-shadow: none !important;

            &::after {
                box-shadow: none !important;
            }

            @media (prefers-color-scheme: dark) {
                background-color: transparent !important;
                border-color: var(--grey-700) !important;
            }

            select {
                cursor: not-allowed !important;
                background-color: var(--grey-50) !important;

                @media (prefers-color-scheme: dark) {
                    background-color: hsl(var(--white-hsl) / 0.05) !important;
                }
            }
        }
    }

    &[state="ERROR"] {
        p {
            color: var(--danger-700) !important;
        }

        select-container {
            border-color: var(--danger-400) !important;

            .icon {
                background-color: var(--danger-50) !important;
                border-color: var(--danger-400) !important;
                color: var(--danger-400) !important;
            }
        }

        @media (prefers-color-scheme: dark) {
            p {
                color: var(--danger-400) !important;
            }
            select-container {
                &:focus-within {
                    box-shadow: 0 0 0 5px hsl(var(--danger-400-hsl) / 0.1) !important;
                }

                .icon {
                    background-color: hsl(var(--danger-300-hsl) / 0.05) !important;
                    border-color: var(--danger-400) !important;
                    color: var(--danger-400) !important;
                }
                select {
                    background-color: hsl(var(--danger-300-hsl) / 0.05) !important;
                }
                .selector {
                    color: var(--danger-400) !important;
                }
            }
        }
    }

    label {
        display: block;
        width: 100%;
        font-size: var(--font-sm);
        font-weight: var(--font-medium);
        color: var(--grey-700);
        margin-bottom: 0.5rem;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    select {
        height: 36px;
        display: block;
        width: 100%;
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 36px;
        padding: 0 calc(1rem + 36px) 0 0.5rem;
        color: var(--grey-800);
        transition: all 80ms var(--ease-in-out);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        &::placeholder {
            color: var(--grey-400);
        }

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
            background-color: hsl(var(--white-hsl) / 0.05);

            &:focus {
                background-color: hsl(var(--white-hsl) / 0);
            }

            &::placeholder {
                color: var(--grey-500);
            }

            * {
                color: var(--grey-300);
                background-color: var(--grey-800);
            }
        }
    }

    p {
        display: block;
        margin-bottom: 0.5rem;
        font-size: var(--font-xs);
        color: var(--grey-500);
        line-height: 1.375;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    select-container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        border-radius: 0.375rem;
        overflow: hidden;
        border: var(--input-border);
        background-color: var(--white);
        box-shadow: var(--bevel);
        transition: all 80ms var(--ease-in-out);
        outline-offset: 0;

        &:focus-within {
            outline: var(--focus-ring);
            outline-offset: 5px;
            transition: outline-offset 80ms var(--ease-in-out);

            @media (prefers-color-scheme: dark) {
                border-color: var(--primary-400);
                outline: none;
                box-shadow: 0 0 0 5px hsl(var(--primary-400-hsl) / 0.1);

                i {
                    border-color: var(--primary-400);
                    color: var(--primary-400);
                }
            }
        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.025);
            width: 100%;
            height: 100%;
            z-index: 3;
            border-radius: 0.375rem;
        }

        @media (prefers-color-scheme: dark) {
            border-color: var(--grey-700);
            box-shadow: none;
            background-color: transparent;

            &::after {
                display: none;
            }
        }
    }

    .selector {
        width: 24px;
        height: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--grey-400);
        pointer-events: none;
        position: absolute;
        bottom: calc((36px - 24px) / 2);
        right: 0.5rem;
        transition: all 80ms var(--ease-in-out);

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        pointer-events: none;
        color: var(--grey-400);
        background-color: var(--grey-50);
        border-right: var(--input-border);
        z-index: 2;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            border-color: var(--grey-700);
            background-color: hsl(var(--white-hsl) / 0.05);
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }
}
