<brixi-checkbox state="IDLING">
    <div class="inline-block mr-auto">
        <input type="checkbox" name="demo1" id="demo1" value="demo1">
        <label for="demo1">
            <check-box role="button" tabindex="0" aria-label="click to check the box Example">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </i>
            </check-box>
            <span>Example</span>
        </label>
    </div>
</brixi-checkbox>
<brixi-checkbox class="mt-0.5" state="ERROR">
    <div class="inline-block mr-auto">
        <input type="checkbox" name="demo2" id="demo2" value="demo2">
        <label for="demo2">
            <check-box role="button" tabindex="0" aria-label="click to check the box Example">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </i>
            </check-box>
            <span>Example</span>
        </label>
    </div>
</brixi-checkbox>
<brixi-checkbox class="mt-0.5" state="DISABLED">
    <div class="inline-block mr-auto">
        <input type="checkbox" name="demo3" id="demo3" value="demo3" disabled>
        <label for="demo3">
            <check-box role="button" tabindex="0" aria-label="click to check the box Example">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </i>
            </check-box>
            <span>Example</span>
        </label>
    </div>
</brixi-checkbox>
