input-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    position: relative;
    height: 32px;
    border-radius: 0.5rem;
    background-color: var(--white);
    border: 1px solid var(--grey-300);
    color: var(--grey-700);
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    padding: 0 0.75rem;
    transition: all 80ms var(--ease-in-out);
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--grey-50);

        svg {
            color: var(--grey-600);

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }
        }
    }

    &:active,
    &.is-active {
        background-color: var(--grey-100);
        outline-offset: 0 !important;
        transition: outline-offset 0ms linear;
    }

    &:focus-visible {
        outline: var(--focus-ring);
        outline-offset: 5px;
    }

    @media (prefers-color-scheme: dark) {
        border: none;
        background-color: hsl(var(--grey-950-hsl) / 0.6);
        color: var(--grey-300);

        &::before {
            content: "";
            position: absolute;
            border-radius: 0.5rem;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--grey-300);
            opacity: 0;
        }

        &:hover,
        &:focus-visible {
            color: var(--grey-100);
            background-color: hsl(var(--grey-950-hsl) / 0.6);

            &::before {
                opacity: 0.05;
            }
        }

        &:active,
        &.is-active {
            color: var(--white);
            background-color: hsl(var(--grey-950-hsl) / 0.6);

            &::before {
                opacity: 0.1;
            }
        }
    }

    svg {
        width: 14px;
        height: 14px;
        color: var(--grey-400);
        margin-left: 0.5rem;

        @media (prefers-color-scheme: dark) {
            color: var(--grey-600);
        }
    }

    span {
        line-height: 1;
    }
}
