.checkbox {
    display: block;
    width: 100%;
    position: relative;

    &.is-active {
        label {
            check-box {
                i {
                    box-shadow: none;
                    transform: translateY(1px);
                    outline-offset: 0 !important;
                }
            }
        }
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;

        &:checked + label {
            check-box i {
                background-color: var(--primary-700);
                border-color: var(--primary-800);

                @media (prefers-color-scheme: dark) {
                    background-color: var(--primary-500);
                    border-color: var(--primary-500);
                }

                svg {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:disabled + label {
            cursor: not-allowed !important;

            check-box i {
                background-color: var(--grey-50) !important;
                border-color: var(--grey-200) !important;
                box-shadow: none !important;
                transform: none !important;
                cursor: not-allowed !important;

                @media (prefers-color-scheme: dark) {
                    background-color: transparent !important;
                    border-color: var(--grey-700) !important;
                }
            }

            span {
                color: var(--grey-400) !important;

                @media (prefers-color-scheme: dark) {
                    color: var(--grey-500) !important;
                }
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 36px;
        cursor: pointer;

        &:active {
            check-box i {
                box-shadow: none;
                transform: translateY(1px);
            }
        }

        check-box {
            width: 24px;
            height: 24px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:active {
                i {
                    box-shadow: none;
                    transform: translateY(1px);
                }
            }

            &:focus-visible {
                i {
                    outline: var(--focus-ring);
                    outline-offset: var(--focus-ring-offset);
                    transition: outline-offset 80ms var(--ease-in-out);
                }
            }

            i {
                transition: all 80ms var(--ease-in-out);
                width: 16px;
                height: 16px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: var(--white);
                border-radius: 0.25rem;
                border: var(--input-border);
                background-color: var(--white);
                box-shadow: 0 1px 0 hsl(0deg 0% 0% / 0.1), inset 0 -2px 0 hsl(0deg 0% 0% / 0.05);
                outline-offset: 0;

                @media (prefers-color-scheme: dark) {
                    background-color: transparent;
                    border-color: var(--grey-600);
                }

                svg {
                    width: 14px;
                    height: 14px;
                    visibility: hidden;
                    opacity: 0;
                    color: var(--white) !important;
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }
        }

        span {
            font-size: var(--font-sm);
            font-weight: var(--font-medium);
            color: var(--grey-800);
            user-select: none;
            margin-left: 0.5rem;
            margin-top: 2px;

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }
        }
    }
}
