textarea-component {
    display: inline-block;
    width: 100%;
    position: relative;

    &[readonly] {
        textarea {
            padding-right: 2.5rem;
            padding-bottom: 0.25rem;
        }
    }

    &[state="DISABLED"] {
        cursor: not-allowed !important;
        opacity: 0.6;

        @media (prefers-color-scheme: dark) {
            opacity: 0.3;
        }

        label,
        p {
            color: var(--grey-400) !important;

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300) !important;
            }
        }
        textarea {
            background-color: var(--grey-50) !important;
            border-color: var(--grey-200) !important;
            box-shadow: none !important;
            cursor: not-allowed !important;

            @media (prefers-color-scheme: dark) {
                border-color: var(--grey-700) !important;
                background-color: hsl(var(--white-hsl) / 0.05) !important;
            }
        }
    }

    &[state="ERROR"] {
        p {
            color: var(--danger-700) !important;
        }

        textarea {
            border-color: var(--danger-400) !important;
        }

        @media (prefers-color-scheme: dark) {
            p {
                color: var(--danger-400) !important;
            }
            textarea {
                background-color: hsl(var(--danger-300-hsl) / 0.05) !important;

                &:focus {
                    box-shadow: 0 0 0 5px hsl(var(--danger-400-hsl) / 0.1) !important;
                }
            }
        }
    }

    label {
        display: block;
        width: 100%;
        font-size: var(--font-sm);
        font-weight: var(--font-medium);
        color: var(--grey-700);
        margin-bottom: 0.5rem;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    .counter {
        position: absolute;
        bottom: 0.25rem;
        right: 0.75rem;
        font-size: 10px;
        color: var(--grey-400);
    }

    textarea {
        display: block;
        width: 100%;
        padding: 0.25rem 0.5rem 1rem;
        color: var(--grey-800);
        overflow-y: auto;
        border: var(--input-border);
        font-size: var(--font-sm);
        line-height: 1.618;
        border-radius: 0.375rem;
        transition: border-color 80ms var(--ease-in-out), box-shadow 80ms var(--ease-in-out);
        background-color: var(--white);
        box-shadow: var(--bevel);
        resize: vertical;
        outline-offset: 0;

        &:only-child {
            padding: 0 1rem;
        }

        &:last-child {
            padding-right: 1rem;
        }

        &::placeholder {
            color: var(--grey-400);
        }

        &:focus {
            outline: var(--focus-ring);
            outline-offset: 5px;
            transition: outline-offset 80ms var(--ease-in-out);
        }

        @media (prefers-color-scheme: dark) {
            border-color: var(--grey-700);
            box-shadow: none;
            background-color: transparent;
            color: var(--grey-300);
            background-color: hsl(var(--white-hsl) / 0.05);

            &::placeholder {
                color: var(--grey-500);
            }

            &:focus {
                border-color: var(--primary-400);
                outline: none;
                box-shadow: 0 0 0 5px hsl(var(--primary-400-hsl) / 0.1);
            }

            &:focus:not(:read-only) {
                background-color: hsl(var(--white-hsl) / 0);
            }
        }
    }
    p {
        display: block;
        margin-bottom: 0.5rem;
        font-size: var(--font-xs);
        color: var(--grey-500);
        line-height: 1.375;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }
}
