<alert-component
    class="mb-1"
    data-type="info"
    data-description="This component was server side rendered. Any component can be created using the custom element tag and the settings can be configured using data attributes. View this components HTML source to learn more."
></alert-component>

<alert-component
    data-type="warning"
    data-heading="Attention needed"
    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    data-list='["Lorem ipsum dolor sit amet.", "Consectetur adipiscing elit.", "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."]'
    data-closeable="true"
    class="mb-1"
></alert-component>

<alert-component
    class="mb-1"
    data-type="info"
    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    data-closeable="true"
></alert-component>

<alert-component
    class="mb-1"
    data-type="success"
    data-heading="Submission Successfully Sent"
    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    data-actions='[{"label": "View status", "id": "view" }, {"label": "Details", "id": "details" }]'
></alert-component>

<alert-component
    class="mb-1"
    data-type="danger"
    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
></alert-component>

<script type="module" src="/js/alert.js"></script>
