<brixi-range-slider web-component state="IDLING" style="--track-fill: 10%";>
    <label for="demo1">Example</label>
    <p>Lorem ipsum dolor...</p>
    <input-container>
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 8a5 5 0 0 1 0 8"></path><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5"></path></svg>
        </button>
        <input type="range" id="demo1" min="0" max="100" step="1" value="10" name="demo1">
        <input inputmode="numeric" type="number" aria-label="manual range input for Example" min="0" max="100" step="1" value="10">
    </input-container>
</brixi-range-slider>
