<script type="module">
    import Component from "/js/tabs.js";
    const example = new Component({
        sortable: true,
        expandable: true,
        addCallback: (label, value) => {
            console.log(label, value);
        },
        tabs: [
            {
                label: "List",
                value: "list",
            },
            {
                label: "Board",
                value: "board",
            },
            {
                label: "Calendar",
                value: "calendar",
                icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>`,
            },
            {
                label: "Files",
                value: "files",
            },
        ],
        callback: (tab) => {
            console.log(tab);
        },
    });
    document.body.appendChild(example);
</script>
