tabs-component {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 40px;
    display: inline-flex;
    align-items: center;
    flex-flow: row nowrap;

    tabs-container {
        white-space: nowrap;
        height: 100%;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: end;
    }

    tab-component {
        height: 100%;
        display: inline-flex;
        align-items: start;
        justify-content: center;
        flex-flow: row nowrap;
        position: relative;
        cursor: pointer;
        outline-offset: 0;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        &:hover {
            span {
                &::before {
                    opacity: 0.05;
                }
            }
        }

        &:focus-visible {
            outline: var(--focus-ring);
            outline-offset: var(--focus-ring-offset);
            transition: outline-offset 80ms var(--ease-in-out);
        }

        &.is-active {
            color: var(--primary-900);

            &::after {
                transform: translate(0, 0);
            }

            span {
                &::before {
                    opacity: 0.05;
                }
            }
        }

        &.has-icon {
            span {
                padding: 0 0.5rem 0 0.75rem;
            }
        }

        &:active {
            span {
                &::before {
                    opacity: 0.1;
                }
            }
        }

        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-flow: row nowrap;
            white-space: nowrap;
            color: var(--grey-700);
            font-size: var(--font-sm);
            line-height: 1;
            height: 32px;
            padding: 0 0.75rem;
            user-select: none;

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }

            &::before {
                transition: all 80ms var(--ease-in-out);
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                opacity: 0;
                background-color: var(--grey-500);

                @media (prefers-color-scheme: dark) {
                    background-color: var(--grey-400);
                }
            }

            i {
                margin-right: 0.5rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: var(--grey-400);

                @media (prefers-color-scheme: dark) {
                    color: var(--grey-500);
                }

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &::after {
            transition: all 80ms var(--ease-in-out);
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 3px 3px 0 0;
            transform: translate(0, 4px);
            background-color: var(--primary-500);

            @media (prefers-color-scheme: dark) {
                background-color: var(--primary-400);
            }
        }
    }
}
