<range-slider
    data-label="Example"
    data-instructions="Lorem ipsum dolor..."
    data-min="0"
    data-max="100"
    data-value="5"
    data-icon='<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-volume-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 8a5 5 0 0 1 0 8"></path><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5"></path></svg>'
    data-min-icon='<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-volume-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5"></path><path d="M16 10l4 4m0 -4l-4 4"></path></svg>'
    data-max-icon='<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" /></svg>'
></range-slider>

<range-slider
    class="mt-2"
    data-label="Example"
    data-instructions="Lorem ipsum dolor..."
    data-min="0"
    data-max="100"
    data-value="5"
    data-manual="true"
></range-slider>

<range-slider
    class="mt-2"
    data-label="Example"
    data-instructions="Lorem ipsum dolor..."
    data-min="0"
    data-max="100"
    data-value="5"
    data-manual="true"
    data-disabled="true"
></range-slider>

<script>
    const inputComponent = document.querySelector('range-slider');
    inputComponent.addEventListener('change', (event) => {
        console.log(event.detail)
    });
    inputComponent.addEventListener('focus', (event) => {
        console.log(event.detail);
    });
    inputComponent.addEventListener('blur', (event) => {
        console.log(event.detail);
    });
</script>
