$blue: #4299e1;
$red: #f56565;
$green: #48bb78;
$yellow: #ecc94b;

toaster-component {
    // height: 100vh;
    // position: fixed;
    // top: 0;
    // right: 0;
    // z-index: 2000;
    // overflow-y: auto;
    // overflow-x: hidden;
    // pointer-events: none;
    // padding: 0 1rem;
    // width: calc(300px + 2rem);

    toast-component {
        background-color: var(--neutral-800);
        padding: 1rem;
        border-radius: 0.25rem;
        box-shadow: var(--shadow-lg);
        display: flex;
        flex-flow: row nowrap;
        border-left: 4px solid $blue;
        width: 300px;
        margin: 1rem auto 0;
        transform-origin: top left;
        transition: all 300ms var(--ease-in-out);
        pointer-events: all;
        position: relative;
        transform: translateY(50%);
        opacity: 0;
        animation: grow 300ms forwards var(--ease-in);

        &.-yellow {
            border-color: $yellow;

            i {
                color: $yellow;
            }
        }

        &.-red {
            border-color: $red;

            i {
                color: $red;
            }
        }

        &.-green {
            border-color: $green;

            i {
                color: $green;
            }
        }

        i {
            width: 24px;
            height: 24px;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            color: $blue;

            svg {
                width: 18px;
                height: 18px;
            }
        }

        copy-wrapper {
            display: block;
            flex: 1;

            h3 {
                display: block;
                color: var(--white);
                font-weight: var(--font-bold);
                margin-bottom: 0.25rem;
            }

            p {
                display: block;
                color: var(--neutral-300);
                font-size: var(--font-sm);
                line-height: 1.618;
            }
        }

        .close {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);

            &:hover {
                &::before {
                    transform: scale(1);
                }
            }

            &:active {
                &::before {
                    opacity: 0.15;
                }
            }

            &::before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--white);
                opacity: 0.06;
                position: absolute;
                transform: scale(0);
                transition: all 150ms var(--ease-bounce);
            }

            svg {
                width: 14px;
                height: 14px;
            }
        }

        toast-timer {
            position: absolute;
            background-color: var(--white);

            &.vertical {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.07;
                transform-origin: bottom center;
                z-index: 1;
            }
            &.horizontal {
                opacity: 0.3;
                bottom: 0;
                left: 0;
                height: 6px;
                width: 100%;
                transform-origin: right center;
            }
        }

        toast-actions {
            display: flex;
            width: 100%;
            width: 100%;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;
            margin-top: 0.75rem;

            button {
                height: 36px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 0.75rem;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0 0.5rem;
                color: var(--primary-300);
                margin-left: 0.5rem;
                position: relative;

                &:hover,
                &:focus {
                    &::before {
                        transform: scale(1);
                    }
                }
                &:active {
                    &::before {
                        opacity: 0.15;
                    }
                }
                &::before {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.25rem;
                    background-color: var(--primary-500);
                    opacity: 0.06;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: scale(0);
                    transition: all 150ms var(--ease-bounce);
                }
            }
        }
    }
}
@keyframes grow {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
