lightswitch-component {
    display: inline-block;
    width: 100%;
    position: relative;

    &[state="DISABLED"] {
        cursor: not-allowed !important;
        opacity: 0.6;

        label {
            light-switch {
                cursor: not-allowed !important;
            }
        }

        @media (prefers-color-scheme: dark) {
            opacity: 0.3;
        }
    }

    &[color="primary"] {
        span:first-of-type {
            color: var(--primary-600);

            svg {
                color: var(--primary-500);
            }
        }

        @media (prefers-color-scheme: dark) {
            span:first-of-type {
                color: var(--primary-400);

                svg {
                    color: var(--primary-400);
                }
            }
        }
    }

    &[color="danger"] {
        span:first-of-type {
            color: var(--danger-600);

            svg {
                color: var(--danger-500);
            }
        }

        @media (prefers-color-scheme: dark) {
            span:first-of-type {
                color: var(--danger-400);

                svg {
                    color: var(--danger-400);
                }
            }
        }
    }

    &[color="warning"] {
        span:first-of-type {
            color: var(--warning-600);

            svg {
                color: var(--warning-500);
            }
        }

        @media (prefers-color-scheme: dark) {
            span:first-of-type {
                color: var(--warning-400);

                svg {
                    color: var(--warning-400);
                }
            }
        }
    }

    &.is-active {
        label {
            outline-offset: 0 !important;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        user-select: none;
        visibility: hidden;

        &:disabled {
            & + label {
                cursor: not-allowed !important;
            }
        }

        &:checked {
            & + label {
                light-switch {
                    background-color: var(--grey-50);
                    border-color: var(--grey-300);

                    @media (prefers-color-scheme: dark) {
                        background-color: hsl(var(--grey-950-hsl) / 0.6);
                        border-color: hsl(var(--grey-950-hsl) / 0.6);
                    }
                }
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        width: 100%;

        light-switch {
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;
            border-radius: 12px;
            background-color: var(--grey-50);
            border: 1px solid var(--grey-300);
            transition: all 80ms var(--ease-in-out);
            height: 24px;
            overflow: hidden;
            outline-offset: 0;
            min-width: 48px;
            user-select: none;

            &:hover {
                background-color: var(--grey-100);
            }

            &:active {
                background-color: var(--grey-200);
            }

            &:focus-visible {
                outline: var(--focus-ring);
                outline-offset: var(--focus-ring-offset);
                transition: outline-offset 80ms var(--ease-in-out);
            }

            @media (prefers-color-scheme: dark) {
                background-color: hsl(var(--grey-950-hsl) / 0.6);
                border-color: hsl(var(--grey-950-hsl) / 0.6);

                &:hover {
                    background-color: hsl(var(--grey-950-hsl) / 0.6);
                }

                &:active {
                    background-color: hsl(var(--grey-950-hsl) / 0.6);
                }
            }

            i {
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                vertical-align: top;
                background-color: var(--white);
                border: 1px solid var(--grey-200);
                box-shadow: var(--bevel);
                transition: all 150ms var(--ease-in-out);
                transform: translate(0, 3px);

                @media (prefers-color-scheme: dark) {
                    background-color: var(--grey-700);
                    border-color: var(--grey-700);
                }
            }

            span {
                transition: all 150ms var(--ease-in-out);
                color: var(--grey-700);
                display: inline-flex;
                vertical-align: top;
                align-items: center;
                flex-flow: row nowrap;
                justify-content: center;
                font-weight: var(--font-medium);
                font-size: var(--font-sm);
                line-height: 24px;
                height: 24px;
                min-width: 18px;

                @media (prefers-color-scheme: dark) {
                    color: var(--grey-300);
                }

                &:first-of-type {
                    color: var(--success-600);

                    svg {
                        color: var(--success-500);
                    }

                    @media (prefers-color-scheme: dark) {
                        color: var(--success-400);

                        svg {
                            color: var(--success-400);
                        }
                    }
                }

                svg {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    vertical-align: middle;
                    color: var(--grey-600);
                    transform: translateY(-1px);

                    @media (prefers-color-scheme: dark) {
                        color: var(--grey-300);
                    }
                }
            }
        }
    }
}
