<brixi-pagination css="button">
    <button class="bttn" color="grey" kind="text" icon="left" disabled>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="15 6 9 12 15 18"></polyline></svg>
        <span>Previous</span>
    </button>
    <button class="bttn is-active" color="grey" kind="text">
        <span>1</span>
    </button>
    <button class="bttn" color="grey" kind="text">
        <span>2</span>
    </button>
    <button class="bttn" color="grey" kind="text">
        <span>3</span>
    </button>
    <button class="bttn" color="grey" kind="text">
        <span>4</span>
    </button>
    <button class="bttn" color="grey" kind="text">
        <span>5</span>
    </button>
    <button class="bttn" color="grey" kind="text" icon="right">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>
        <span>Next</span>
    </button>
</brixi-pagination>
