circle-rail-spinner {
    display: inline-block;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    border: 4px solid var(--neutral-200);
    border-top: 4px solid var(--primary-700);
    border-radius: 50%;
    animation: circleRailSpinner 1000ms infinite linear;

    &.-inline {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
}

@keyframes circleRailSpinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
