<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/alert.css">
    <script type="module" src="/spa/js/alert.js"></script>
</head>
<body>
    <alert-component
    class="mb-1"
    data-type="info"
    data-description="This component was server side rendered. Any component can be created using the custom element tag and the settings can be configured using data attributes. View this components HTML source to learn more."
></alert-component>

<alert-component
    data-type="warning"
    data-heading="Attention needed"
    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    data-list='["Lorem ipsum dolor sit amet.", "Consectetur adipiscing elit.", "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."]'
    data-closeable="true"
    class="mb-1"
></alert-component>

<alert-component
    class="mb-1"
    data-type="info"
    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    data-closeable="true"
></alert-component>

<alert-component
    class="mb-1"
    data-type="success"
    data-heading="Submission Successfully Sent"
    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    data-actions='[{"label": "View status", "id": "view" }, {"label": "Details", "id": "details" }]'
></alert-component>

<alert-component
    class="mb-1"
    data-type="danger"
    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
></alert-component>

</body>
</html>
