notifications-component {
    max-height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 9000;
    overflow-y: auto;
    overflow-x: visible;
    padding: 1rem;
    width: calc(300px + 2rem + 300px);
    pointer-events: none;

    notification-component {
        background-color: var(--white);
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: var(--shadow-black-md);
        display: flex;
        flex-flow: row nowrap;
        border-style: solid;
        border-width: 2px;
        border-color: var(--primary-500);
        width: 300px;
        margin: 0 0 1rem;
        transform-origin: top left;
        transition: all 300ms var(--ease-in-out);
        pointer-events: all;
        position: relative;
        transform: translateX(100%);
        opacity: 0;
        animation: grow 300ms forwards var(--ease-in);

        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--grey-900-hsl) / 0.87);
            backdrop-filter: blur(8px);
        }

        &.-yellow {
            border-color: var(--warning-400);

            i {
                color: var(--warning-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--warning-400);
                }
            }
        }

        &.-red {
            border-color: var(--danger-500);

            i {
                color: var(--danger-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--danger-400);
                }
            }
        }

        &.-green {
            border-color: var(--success-500);

            i {
                color: var(--success-500);

                @media (prefers-color-scheme: dark) {
                    color: var(--success-400);
                }
            }
        }

        i {
            width: 24px;
            height: 24px;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            color: var(--primary-500);

            @media (prefers-color-scheme: dark) {
                color: var(--primary-400);
            }

            svg {
                width: 22px;
                height: 22px;
            }
        }

        copy-wrapper {
            display: block;
            flex: 1;

            h3 {
                display: block;
                color: var(--grey-800);
                font-weight: var(--font-medium);
                margin-bottom: 0.5rem;
                font-size: var(--font-sm);
            }

            p {
                display: block;
                color: var(--grey-700);
                font-size: var(--font-xs);
                line-height: 1.375;
            }

            @media (prefers-color-scheme: dark) {
                h3 {
                    color: var(--white);
                }
                p {
                    color: var(--grey-300);
                }
            }
        }

        .close {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            outline-offset: 0;
            color: var(--grey-500);

            @media (prefers-color-scheme: dark) {
                color: var(--white);
            }

            &:focus-visible {
                outline: var(--focus-ring);
                outline-offset: var(--focus-ring-offset);
                transition: outline-offset 80ms var(--ease-in-out);
            }

            &:hover {
                outline-offset: 0;

                &::before {
                    opacity: 0.05;
                }
            }

            &:active {
                outline-offset: 0;

                &::before {
                    opacity: 0.1;
                }
            }

            &::before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--grey-500);
                opacity: 0;
                position: absolute;
                transition: all 80ms var(--ease-in-out);

                @media (prefers-color-scheme: dark) {
                    background-color: var(--white);
                }
            }

            svg {
                width: 14px;
                height: 14px;
            }
        }

        notification-timer {
            position: absolute;
            background-color: var(--white);

            &.vertical {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.07;
                transform-origin: bottom center;
                z-index: 1;
            }
            &.horizontal {
                opacity: 0.3;
                bottom: 0;
                left: 0;
                height: 6px;
                width: 100%;
                transform-origin: right center;
            }
        }

        notification-actions {
            display: flex;
            width: 100%;
            width: 100%;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;
            margin-top: 0.75rem;

            button {
                height: 28px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 0.75rem;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0 0.5rem;
                color: var(--primary-700);
                margin-left: 0.5rem;
                position: relative;
                outline-offset: 0;

                &:focus-visible {
                    outline: var(--focus-ring);
                    outline-offset: var(--focus-ring-offset);
                    transition: outline-offset 80ms var(--ease-in-out);
                }

                &:hover {
                    &::before {
                        opacity: 0.05;
                    }
                }
                &:active {
                    outline-offset: 0;

                    &::before {
                        opacity: 0.1;
                    }
                }
                &::before {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.25rem;
                    background-color: var(--primary-500);
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    transition: all 80ms var(--ease-in-out);
                }
            }
        }
    }
}
@keyframes grow {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
