tool-tip {
    background-color: var(--neutral-800);
    color: var(--white);
    border-radius: 0.125rem;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    padding: 0 0.5rem;
    font-size: var(--font-xs);
    font-weight: var(--font-medium);
    box-shadow: var(--shadow-md);
    pointer-events: none;
    transform-origin: center;
    display: inline-block;
    user-select: none;

    /* The visible class is applied once the tool-tip element as been appended to the body & positioned correctly */
    // &.visible {
    //     animation: limitedTooltip 1725ms 150ms linear forwards;
    // }
}
@keyframes limitedTooltip {
    0% {
        opacity: 1;
    }
    4% {
        opacity: 1;
    }
    96% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }
}
