<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/password-input.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
    <script type="module">
        import { configure, update, mount, css } from "https://cdn.jsdelivr.net/npm/@codewithkyle/lazy-loader@1/lazy-loader.min.mjs";
        configure({
            jsDir: "/mpa/js",
            cssDir: "/css",
            default: "eager"
        });
    </script>
    <script type="module">
        import notifications from "../../spa/js/alerts.js";
        window.addEventListener("alert:toast", (e) => {
            notifications.toast(e.detail)
        });
    </script>
</head>
<body>
    <p>Coming soon</p>

</body>
</html>
