.bttn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    border: 2px solid transparent;
    background-color: transparent;
    transition: all 80ms var(--ease-in-out);
    padding: 0 1rem;
    min-height: 36px;
    box-shadow: none;
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    user-select: none;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 0.25rem;
    line-height: 1;
    outline-offset: 0;

    &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 80ms var(--ease-in-out);
        border-radius: 0.25rem;
    }

    &:disabled,
    &[disabled] {
        border-color: var(--grey-200) !important;
        background-color: var(--grey-50) !important;
        color: var(--grey-400) !important;
        cursor: not-allowed !important;
        box-shadow: none !important;
    }

    &:focus-visible {
        outline: var(--focus-ring);
        outline-offset: var(--focus-ring-offset);
        transition: outline-offset 80ms var(--ease-in-out);

        &[color="grey"] {
            outline-color: var(--grey-900);
        }

        &[color="primary"] {
            outline-color: var(--primary-500);
        }

        &[color="danger"] {
            outline-color: var(--danger-500);
        }
    }

    &:active {
        outline-offset: 0;
    }

    &[size="slim"] {
        padding: 0 0.5rem;
        min-height: 28px;
    }

    &[size="large"] {
        padding: 0 1.5rem;
        min-height: 42px;
        min-width: 42px;

        & > svg {
            width: 20px;
            height: 20px;
        }
    }

    &[shape="sharp"] {
        border-radius: 0;

        &::before {
            border-radius: 0;
        }
    }

    &[shape="round"] {
        border-radius: 50%;

        &::before {
            border-radius: 50%;
        }
    }

    &[shape="pill"] {
        border-radius: 18px;

        &::before {
            border-radius: 18px;
        }

        &[size="slim"] {
            border-radius: 14px;

            &::before {
                border-radius: 14px;
            }
        }

        &[size="large"] {
            border-radius: 21px;

            &::before {
                border-radius: 21px;
            }
        }
    }

    &[icon="center"] {
        width: 36px;
        height: 36px;
        padding: 0 !important;
    }

    &[icon="right"] {
        padding: 0 0.5rem 0 1rem;

        & > svg {
            margin-left: 0.5rem;
            order: 2;
        }

        & > span {
            order: 1;
        }
    }

    &[icon="left"] {
        padding: 0 1rem 0 0.5rem;

        & > svg {
            margin-right: 0.5rem;
        }
    }

    & > svg {
        width: 20px;
        height: 20px;
        transform: translateY(-1px);
    }

    &[kind="solid"] {
        &[color="primary"] {
            border-color: var(--primary-200);
            background-color: var(--white);
            color: var(--primary-700);
            box-shadow: var(--button-shadow);

            &:hover {
                box-shadow: var(--button-shadow), 0 0 0 8px var(--primary-50);
            }
        }

        &[color="danger"] {
            border-color: var(--danger-200);
            background-color: var(--white);
            color: var(--danger-700);
            box-shadow: var(--button-shadow);

            &:hover {
                box-shadow: var(--button-shadow), 0 0 0 8px var(--danger-50);
            }
        }

        &[color="grey"] {
            border-color: var(--grey-200);
            background-color: var(--white);
            color: var(--grey-700);
            box-shadow: var(--button-shadow);

            &:hover {
                box-shadow: var(--button-shadow), 0 0 0 8px var(--grey-100);
            }
        }

        &:active,
        &.is-active {
            box-shadow: none !important;
            transform: translateY(1px);
        }
    }

    &[kind="text"] {
        padding: 0 0.5rem;

        &::before {
            opacity: 0;
        }

        &[color="grey"] {
            color: var(--grey-700);

            &::before {
                background-color: var(--grey-500);
            }

            &[icon="center"] {
                color: var(--grey-400);

                &:hover,
                &:focus-visible,
                &:active,
                &.is-active {
                    color: var(--grey-700);
                }
            }
        }

        &[color="primary"] {
            color: var(--primary-700);

            &::before {
                background-color: var(--primary-500);
            }

            &[icon="center"] {
                color: var(--primary-400);

                &:hover,
                &:focus-visible,
                &:active,
                &.is-active {
                    color: var(--primary-700);
                }
            }
        }

        &[color="danger"] {
            color: var(--danger-700);

            &::before {
                background-color: var(--danger-500);
            }

            &[icon="center"] {
                color: var(--danger-400);

                &:hover,
                &:focus-visible,
                &:active,
                &.is-active {
                    color: var(--danger-700);
                }
            }
        }

        &:hover,
        &:focus-visible {
            &::before {
                opacity: 0.05;
            }
        }

        &:active,
        &.is-active {
            &::before {
                opacity: 0.1;
            }
        }
    }

    &[kind="dashed"] {
        border-style: dashed;
    }

    &[kind="outline"],
    &[kind="dashed"] {
        &::before {
            opacity: 0;
        }

        &[color="grey"] {
            color: var(--grey-700);
            border-color: var(--grey-200);

            &::before {
                background-color: var(--grey-500);
            }
        }

        &[color="primary"] {
            color: var(--primary-700);
            border-color: var(--primary-200);

            &::before {
                background-color: var(--primary-500);
            }
        }

        &[color="danger"] {
            color: var(--danger-700);
            border-color: var(--danger-200);

            &::before {
                background-color: var(--danger-500);
            }
        }

        &:hover,
        &:focus-visible {
            &::before {
                opacity: 0.05;
            }
        }

        &:active,
        &.is-active {
            &::before {
                opacity: 0.1;
            }
        }
    }
}
