<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/breadcrumb-trail.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
    <script type="module">
        import { configure, update, mount, css } from "https://cdn.jsdelivr.net/npm/@codewithkyle/lazy-loader@1/lazy-loader.min.mjs";
        configure({
            jsDir: "/mpa/js",
            cssDir: "/css",
            default: "eager"
        });
    </script>
    <script type="module">
        import notifications from "/spa/js/alerts.js";
        window.addEventListener("alert:toast", (e) => {
            notifications.toast(e.detail)
        });
        window.addEventListener("alert:info", (e) => {
            notifications.alert(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:success", (e) => {
            notifications.success(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:warn", (e) => {
            notifications.warn(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:error", (e) => {
            notifications.error(e.detail.title, e.detail.message);
        });
    </script>
</head>
<body>
    <div class="w-full block">
    <brixi-breadcrumb-trail >
        <button aria-label="Go to homepage">
            <i class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M10 12h4v4h-4z"></path></svg>
            </i>
        </button>
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <polyline points="9 6 15 12 9 18"></polyline>
        </svg>
        <button>
            <span>Example 1</span> 
        </button>
    </brixi-breadcrumb-trail>
</div>
<div class="w-full block mt-1">
    <brixi-breadcrumb-trail>
        <button aria-label="Go to homepage">
            <i class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="5 12 3 12 12 3 21 12 19 12"></polyline><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><rect x="10" y="12" width="4" height="4"></rect></svg>
            </i>
        </button>
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>
        <breadcrumb-overflow-menu>
            <button aria-label="Open hidden link menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="5" cy="12" r="1"></circle><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle></svg>
            </button>
            <breadcrumb-menu>
                <button>
                    <span>Example 1</span> 
                </button>
                <button>
                    <i class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 16h-4l3.47 -4.66a2 2 0 1 0 -3.47 -1.54"></path><path d="M10 16v-8h4"></path><line x1="10" y1="12" x2="13" y2="12"></line><path d="M17 16v-6a2 2 0 0 1 4 0v6"></path><line x1="17" y1="13" x2="21" y2="13"></line></svg>
                    </i>
                    <span>Example 2</span> 
                </button>
                <button>
                    <span>Example 3</span> 
                </button>
            </breadcrumb-menu>
        </breadcrumb-overflow-menu>
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>
        <button>
            <span>Example 4</span> 
        </button>
    </brixi-breadcrumb-trail>
</div>

</body>
</html>
