<example-component></example-component>

<script type="module">
    import { html, render } from "/js/lit-html.js";
    import { cache } from "/js/cache.js";
    import Input from "/js/input.js";
    import EmailInput from "/js/email-input.js";
    import PhoneInput from "/js/phone-input.js";
    import SubmitButton from "/js/submit-button.js";
    import Select from "/js/select.js";
    import Component from "/js/component.js";
    import Checkbox from "/js/checkbox.js";

    class Example extends Component{
        constructor(){
            super();
            this.favFruit = true;
            this.render();
        }
        render(){
            const view = html`
                <div grid="columns 1 gap-1.5">
                    ${new Input({
                        name: "name",
                        label: "Full Name",
                        required: true,
                        autocomplete: "name",
                    })}
                    ${new EmailInput({
                        name: "email",
                        label: "Email Address",
                        required: true,
                    })}
                    ${new PhoneInput({
                        name: "phone",
                        label: "Phone Number",
                        required: true,
                    })}
                    <select-component
                        data-label="Favorite Ice Cream"
                        data-name="iceCream"
                        data-options='${JSON.stringify([
                            {
                                label: "",
                                value: null,
                            },
                            {
                                label: "Chocolate",
                                value: "chocolate",
                            },
                            {
                                label: "Vanilla",
                                value: "vanilla",
                            },
                            {
                                label: "Strawberry",
                                value: "strawberry",
                            },
                        ])}'
                    ></select-component>
                    ${new Checkbox({
                        name: "fruit",
                        label: "Fruit are better than vegetables?",
                        checked: this.favFruit,
                        callback: (checked) => {
                            this.favFruit = checked;
                            this.render();
                        },
                    })}
                    ${cache(this.favFruit ? html`
                        <select-component
                            data-label="Favorite Fruit"
                            data-name="fruit"
                            data-options='${JSON.stringify([
                                {
                                    label: "",
                                    value: null,
                                },
                                {
                                    label: "Apples",
                                    value: "apples",
                                },
                                {
                                    label: "Pears",
                                    value: "pears",
                                },
                                {
                                    label: "Bananas",
                                    value: "bananas",
                                },
                            ])}'
                        ></select-component>
                    ` : html`
                        <select-component
                            data-label="Favorite Vegetable"
                            data-name="vegetable"
                            data-options="${JSON.stringify([
                                {
                                    label: "",
                                    value: null,
                                },
                                {
                                    label: "Carrots",
                                    value: "carrots",
                                },
                                {
                                    label: "Peas",
                                    value: "peas",
                                },
                                {
                                    label: "Broccoli",
                                    value: "broccoli",
                                },
                            ])}"
                        >
                        </select-component>
                    `)}
                </div>
                <div class="w-full mt-1.5">
                    ${new SubmitButton({
                        label: "Submit",
                    })}
                </div>
            `;
            this.className = "p-2 border-solid border-grey-300 border-1 radius-0.5 w-411 block";
            render(view, this);
        }
    }
    customElements.define("example-component", Example);
</script>
