breadcrumb-trail {
    display: inline-flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;

    button {
        position: relative;
        padding: 0;
        margin: 0;
        font-size: var(--font-sm);
        color: var(--grey-400);
        display: inline-flex;
        align-items: center;
        height: 32px;
        transition: all 80ms ease-in-out;

        &:last-child {
            color: var(--grey-700);

            i {
                color: var(--grey-600);
            }

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);

                i {
                    color: var(--grey-400);
                }
            }
        }

        &:hover,
        &:focus-visible {
            color: var(--primary-700);

            i {
                color: var(--primary-600);
            }

            @media (prefers-color-scheme: dark) {
                color: var(--primary-400);

                i {
                    color: var(--primary-300);
                }
            }
        }

        @media (min-width: 411px) {
            font-size: var(--font-md);
        }

        i {
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: var(--grey-400);
            margin-right: 0.25rem;
            transition: all 80ms ease-in-out;

            &:only-child {
                margin-right: 0;
            }

            svg {
                width: 18px;
                height: 18px;

                @media (min-width: 411px) {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    .arrow {
        width: 16px;
        height: 16px;
        color: var(--grey-300);
        margin: 0 0.25rem;

        @media (min-width: 411px) {
            margin: 0 0.5rem;
        }

        @media (prefers-color-scheme: dark) {
            color: var(--grey-600);
        }
    }

    breadcrumb-overflow-menu {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        & > button {
            width: 24px;
            height: 24px;

            &:hover,
            &:focus-visible {
                color: var(--grey-600);

                & + breadcrumb-menu {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }

            svg {
                width: 18px;
                height: 18px;
                color: var(--grey-400);
            }
        }

        breadcrumb-menu {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--white);
            border-radius: 0.5rem;
            padding: 0.5rem 0;
            box-shadow: var(--shadow-black-sm);
            border: 1px solid var(--grey-300);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            @media (prefers-color-scheme: dark) {
                border-color: var(--grey-800);
                background-color: var(--grey-900);
            }

            &:hover,
            &:focus-within {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }

            button {
                width: 100%;
                white-space: nowrap;
                padding: 0 1rem;
                height: 32px;
                color: var(--grey-400);
                font-size: var(--font-base);

                &:last-child {
                    color: var(--grey-400);
                }

                &:hover,
                &:focus-visible {
                    color: var(--primary-700);

                    i {
                        color: var(--primary-600);
                    }

                    @media (prefers-color-scheme: dark) {
                        color: var(--primary-400);

                        i {
                            color: var(--primary-300);
                        }
                    }
                }
            }
        }
    }
}
