divider-component {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    width: 100%;

    &[line-style="dashed"] {
        div {
            border-style: dashed;
        }
    }

    &[line-style="solid"] {
        div {
            border-style: solid;
        }
    }

    &[line-style="dotted"] {
        div {
            border-style: dotted;
        }
    }

    &[color="primary"] {
        div {
            border-color: var(--primary-400);
        }
        span {
            color: var(--primary-700);

            @media (prefers-color-scheme: dark) {
                color: var(--primary-300);
            }
        }
    }

    &[color="grey"] {
        div {
            border-color: var(--grey-300);
        }
        span {
            color: var(--grey-700);

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }
        }
    }

    &[color="success"] {
        div {
            border-color: var(--success-400);
        }
        span {
            color: var(--success-700);

            @media (prefers-color-scheme: dark) {
                color: var(--success-300);
            }
        }
    }

    &[color="warning"] {
        div {
            border-color: var(--warning-400);
        }
        span {
            color: var(--warning-700);

            @media (prefers-color-scheme: dark) {
                color: var(--warning-300);
            }
        }
    }

    &[color="danger"] {
        div {
            border-color: var(--danger-400);
        }
        span {
            color: var(--danger-700);

            @media (prefers-color-scheme: dark) {
                color: var(--danger-300);
            }
        }
    }

    &[color="black"] {
        div {
            border-color: var(--grey-700);
        }
        span {
            color: var(--grey-900);

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }
        }
    }

    &[layout="vertical"] {
        flex-flow: column wrap;
        width: 24px;
        height: 100%;

        div {
            width: 1px;
            height: 100%;
            display: block;
            border-width: 0 1px 0 0;
        }

        span {
            text-orientation: upright;
            writing-mode: vertical-rl;
            padding: 0.75rem 0;
            font-size: var(--font-xs);
        }
    }

    div {
        flex: 1;
        width: 100%;
        height: 1px;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: var(--grey-300);
    }

    span {
        color: var(--grey-700);
        font-size: var(--font-sm);
        padding: 0 0.75rem;
        display: inline-block;

        svg {
            width: 18px;
            height: 18px;
        }
    }
}
