<divider-component
    data-color="primary"
    class="mb-4"
></divider-component>

<divider-component
    data-label="Solid Divider"
    data-color="success"
    class="mb-4"
></divider-component>

<divider-component
    data-label="Solid Divider"
    data-color="danger"
    class="mb-4"
></divider-component>

<divider-component
    data-label="Solid Divider"
    data-color="warning"
    class="mb-4"
></divider-component>

<divider-component
    data-label="Dashed Divider"
    data-color="grey"
    data-type="dashed"
    class="mb-4"
></divider-component>

<script type="module" src="/js/divider.js"></script>
