<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/progress-badge.css">
    <script type="module" src="/spa/js/progress-badge.js"></script>
</head>
<body>
    <progress-badge
    data-total="100"
    data-label="Saving"
    data-color="primary"
></progress-badge>
<progress-badge
    data-total="100"
    data-label="Saving"
    data-color="success"
></progress-badge>
<progress-badge
    data-total="100"
    data-label="Saving"
    data-color="warning"
></progress-badge>
<progress-badge
    data-total="100"
    data-label="Saving"
    data-color="danger"
></progress-badge>
<progress-badge
    data-total="100"
    data-label="Saving"
    data-color="grey"
></progress-badge>

<script>
    const example = document.querySelector("progress-badge");
    example.addEventListener("finished", (e) => {
        alert("Finished");
        e.currentTarget.reset();
    });
    example.addEventListener("tick", (e) => {
        console.log(e.detail.tick);
    });
    setInterval(() => {
        example?.tick();
    }, 150);
</script>

</body>
</html>
