<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/notifications.css">
    <script type="module" src="/spa/js/notifications.js"></script>
</head>
<body>
    <div class="w-full text-center">
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-general">General</button>
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-warn">Warning</button>
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-danger">Danger</button>
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-success">Success</button>
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-progress">Progress</button>
    <script type="module">
        import notifications from "/spa/js/alerts.js";
        import Component from "/spa/js/progress-toast.js";

        document.body.querySelector(".js-bttn-general").addEventListener("click", () => {
            notifications.alert("Something happened", "You did something that triggered this response.");
        });
        document.body.querySelector(".js-bttn-warn").addEventListener("click", () => {
            notifications.warn("Oh no", "Something is preventing us form processing your request.");
        });
        document.body.querySelector(".js-bttn-danger").addEventListener("click", () => {
            notifications.error("Error", "Your request has failed with a status code of 0x0001");
        });
        document.body.querySelector(".js-bttn-success").addEventListener("click", () => {
            notifications.success("Success!", "Your request has been process.");
        });
        document.body.querySelector(".js-bttn-progress").addEventListener("click", () => {
            const example = new Component();
            example.dataset.total = 1000;
            example.dataset.title = "Downloading messages";
            example.dataset.subtitle = "0 of 1000";
            example.addEventListener("tick", (e) => {
                example.setProgress(`${e.detail.tick} of 1000`);
            });
            notifications.append(example);
            setInterval(() => {
                example?.tick();
            }, 150);
        });
    </script>
</div>
<link href="/css/button.css" rel="stylesheet" />
<link href="/css/notifications.css" rel="stylesheet" />

</body>
</html>
