split-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    background-color: transparent;
    transition: transform 80ms var(--ease-in-out), box-shadow 80ms var(--ease-in-out);
    box-shadow: none;
    text-transform: uppercase;
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    user-select: none;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 1;
    outline-offset: 0;
    box-shadow: var(--button-shadow);

    &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 80ms var(--ease-in-out);
        border-radius: 0.25rem;
    }

    &:disabled,
    &[disabled] {
        border-color: var(--grey-200) !important;
        background-color: var(--grey-50) !important;
        color: var(--grey-400) !important;
        cursor: not-allowed !important;
        box-shadow: none !important;
    }

    &:focus-visible {
        outline: var(--focus-ring);
        outline-offset: var(--focus-ring-offset);
        transition: outline-offset 80ms var(--ease-in-out);
    }

    & > button,
    & > .split {
        &:hover {
            background-color: var(--grey-50);
        }
        &:focus-visible {
            outline: var(--focus-ring);
            outline-offset: var(--focus-ring-offset);
            outline-color: var(--grey-900);
            transition: outline-offset 80ms var(--ease-in-out);
        }
        &:active {
            outline-offset: 0;
            background-color: var(--grey-100);
        }

        @media (prefers-color-scheme: dark) {
            &:hover {
                background-color: var(--grey-400);
                border-color: var(--grey-200);
            }
            &:focus-visible {
                border-color: var(--grey-200);
                outline-color: var(--grey-400);
            }
            &:active {
                box-shadow: none;
                background-color: var(--grey-400);
            }
        }
    }

    & > button {
        background-color: var(--white);
        border-radius: 0.25rem 0 0 0.25rem;
        color: var(--grey-700);
        background: var(--white);
        border-width: 1px;
        border-style: solid;
        border-color: var(--grey-300);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        height: 36px;

        @media (prefers-color-scheme: dark) {
            border-color: var(--grey-400);
            background-color: var(--grey-400);
            color: var(--grey-950);
            border-width: 2px;
        }

        &.split {
            border-radius: 0 0.25rem 0.25rem 0;
            border-style: solid;
            border-color: var(--grey-300);
            width: 36px;
            padding: 0;
            border-width: 1px 1px 1px 0;

            @media (prefers-color-scheme: dark) {
                border-width: 2px;
                border-color: var(--grey-400);
                color: var(--grey-950);
            }

            &::before {
                border-radius: 0 0.25rem 0.25rem 0;
            }

            &:hover,
            &:focus-visible {
                z-index: 2;
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}
