<toggle-button
    data-instructions="Delete your account."
    data-state="IDLING"
    data-states='["IDLING", "CONFIRM"]'
    data-buttons='{"IDLING":{"label":"Delete","color":"grey","kind":"solid","id":"delete"},"CONFIRM":{"label":"Are you sure?","color":"danger","kind":"solid","id":"confirm"}}'
></toggle-button>

<script>
    document.body.querySelector('toggle-button').addEventListener('action', (e) => {
        console.log(e.detail.id);
        if (e.detail.id === 'confirm') {
            e.currentTarget.remove();
        }
    });
</script>
