<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/skeletons.css">
    <script type="module" src="/spa/js/skeletons.js"></script>
</head>
<body>
    <div class="bg-grey-100 dark:bg-grey-800 radius-0.5 p-1 mb-1" flex="items-center row nowrap" style="max-width: 320px">
    <div class="skeleton -image -round mr-1" style="width: 96px"></div>
    <div class="block w-full">
        <div class="skeleton -copy mb-1 w-3/4"></div>
        <div class="skeleton -copy"></div>
    </div>
</div>
<link href="/css/skeletons.css" rel="stylesheet" />

</body>
</html>
