<script type="module">
    import Component from "/toggle-button.js";
    const example = new Component({
        instructions: "Delete your account.",
        state: "IDLING",
        states: ["IDLING", "CONFIRM"],
        buttons: {
            IDLING: {
                label: "Delete",
                color: "white",
                kind: "solid",
                callback: () => { console.log("User activated our trap card"); }
            },
            CONFIRM: {
                label: "Are you sure?",
                color: "danger",
                kind: "solid",
                callback: () => { location.reload() }
            }
        }
    });
    document.body.appendChild(example);
</script>