<brixi-phone-input
    data-label="Phone Number"
    data-name="phone"
></brixi-phone-input>

<script>
    const inputComponent = document.querySelector('brixi-phone-input');
    inputComponent.addEventListener('input', (event) => {
        console.log(event.detail)
    });
    inputComponent.addEventListener('focus', (event) => {
        console.log(event.detail);
    });
    inputComponent.addEventListener('blur', (event) => {
        console.log(event.detail);
    });
</script>
