<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/group-button.css">
    <script type="module" src="/js/group-button.js"></script>
</head>
<body>
    <group-button-component
    data-buttons='[{"label":"Example 1","id":"example-1"},{"label":"Example 2","id":"example-2"},{"label":"Example 3","id":"example-3"}]'
></group-button-component>

<script>
    document.querySelector('group-button-component').addEventListener('change', (e) => {
        console.log(e.detail.id);
    });
</script>

</body>
</html>
