radio-component {
    display: block;
    width: 100%;
    position: relative;

    &.is-active {
        label {
            i {
                outline-offset: 0 !important;

                &::before {
                    border-color: var(--primary-500) !important;
                    background-color: var(--white);
                }

                &::after {
                    transform: scale(1.15) !important;
                    background-color: var(--primary-500);
                }
            }
        }
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;

        &:checked + label {
            i {
                &::before {
                    border-color: var(--primary-700);
                    background-color: var(--white);

                    @media (prefers-color-scheme: dark) {
                        border-color: var(--primary-400);
                        background-color: transparent;
                    }
                }

                &::after {
                    transform: scale(1);
                }
            }
        }

        &:disabled + label {
            cursor: not-allowed !important;
            opacity: 0.6;

            i {
                cursor: not-allowed !important;

                &::before {
                    background-color: var(--grey-50) !important;
                    border-color: var(--grey-200) !important;

                    @media (prefers-color-scheme: dark) {
                        background-color: transparent !important;
                        border-color: var(--grey-700) !important;
                    }
                }

                &::after {
                    background-color: var(--grey-200) !important;
                    box-shadow: var(--bevel) !important;
                }
            }

            span {
                color: var(--grey-400) !important;
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 36px;
        cursor: pointer;

        &:hover,
        &:focus-within {
            i {
                &::after {
                    transform: scale(0.5);
                }
            }
        }

        &:active {
            i {
                &::after {
                    transform: scale(1.25);
                    background-color: var(--primary-500);
                }

                &::before {
                    border-color: var(--primary-500);
                }
            }
        }

        i {
            width: 24px;
            height: 24px;
            margin-right: 0.5rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            outline-offset: 0;
            border-radius: 50%;

            &:focus-visible {
                outline: var(--focus-ring);
                outline-offset: var(--focus-ring-offset);
                transition: outline-offset 80ms var(--ease-in-out);
            }

            &:active {
                outline-offset: 0;

                &::before {
                    border-color: var(--primary-500) !important;
                    background-color: var(--white);
                }

                &::after {
                    transform: scale(1.15) !important;
                    background-color: var(--primary-500);
                }
            }

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid var(--grey-300);
                transition: all 80ms var(--ease-in-out);
                background-color: var(--white);
                box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.05);

                @media (prefers-color-scheme: dark) {
                    border-color: var(--grey-700);
                    background-color: transparent;
                }
            }

            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: var(--primary-700);
                transition: all 150ms var(--ease-bounce);
                transform: scale(0);
                transform-origin: center;
                box-shadow: var(--bevel);

                @media (prefers-color-scheme: dark) {
                    background-color: var(--primary-500);
                }
            }
        }

        span {
            font-size: var(--font-sm);
            font-weight: var(--font-medium);
            color: var(--grey-800);
            user-select: none;

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }
        }
    }
}
