<select-component 
    data-options='[{"label":"","value":""},{"label":"Option 1","value":"option1"},{"label":"Option 2","value":"option2"}]' 
    data-label="Example Select" 
    data-instructions="This is an example select component" 
    data-name="example"
    data-required="true"
    class="mb-2"
></select-component>

<select-component 
    data-options='[{"label":"","value":""},{"label":"Option 1","value":"option1"},{"label":"Option 2","value":"option2"}]' 
    data-label="Example Select" 
    data-instructions="This is an example select component" 
    data-name="example"
    data-disabled="true"
></select-component>

<script type="module" src="/js/select.js"></script>

<script>
    const select = document.querySelector('select-component');
    select.addEventListener('change', (e) => {
        console.log(e.detail);
    });
</script>
