radio-component {
    display: inline-block;
    width: 100%;
    position: relative;

    input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        user-select: none;

        &:focus {
            & + label {
                i {
                    &::before {
                        border-color: var(--primary-400);
                        box-shadow: 0 0 0 5px var(--primary-100);
                        background-color: var(--white);
                    }
                }
            }
        }

        &:checked {
            & + label {
                i {
                    &::before {
                        border-color: var(--primary-700);
                        background-color: var(--white);
                    }

                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    label {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        cursor: pointer;

        &:hover {
            i {
                &::before {
                    border-color: var(--primary-400);
                }
            }
        }

        &:active {
            i {
                &::before {
                    border-color: var(--primary-400) !important;
                    box-shadow: 0 0 0 5px var(--primary-100);
                    background-color: var(--white);
                }

                &::after {
                    transform: scale(1.15) !important;
                    background-color: var(--primary-400);
                }
            }
        }

        i {
            width: 48px;
            height: 48px;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid var(--grey-400);
                transition: all 150ms var(--ease-in-out);
                background-color: var(--grey-100);
            }

            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: var(--primary-700);
                transition: all 150ms var(--ease-bounce);
                transform: scale(0);
                transform-origin: center;
            }
        }

        span {
            color: var(--grey-700);
            display: inline-block;
            line-height: 1.375;
            flex: 1;
            padding: 0.5rem 0;
        }
    }
}
