checkbox-group {
    display: block;
    width: 100%;
    position: relative;

    &[state="DISABLED"] {
        p {
            opacity: 0.6;
            color: var(--grey-400) !important;

            strong {
                color: var(--grey-400) !important;
            }
        }

        @media (prefers-color-scheme: dark) {
            p {
                color: var(--grey-300) !important;
                opacity: 0.3;

                strong {
                    color: var(--grey-300) !important;
                }
            }
        }
    }

    p {
        display: block;
        margin-bottom: 0.5rem;
        font-size: var(--font-xs);
        color: var(--grey-700);
        line-height: 1.375;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }

        strong {
            display: block;
            width: 100%;
            font-size: var(--font-sm);
            font-weight: var(--font-medium);
            color: var(--grey-800);
            margin-bottom: 0.5rem;

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }
        }
    }
}
