<script type="module">
    import Component from "/js/checkbox-group.js";
    const example = new Component({
        label: "Example",
        name: "example",
        instructions: "Lorem ipsum and wat knot...",
        options: [
            {
                label: "Example 1",
            },
            {
                label: "Example 2",
            },
            {
                label: "Example 3",
                checked: true,
            },
        ],
    });
    document.body.appendChild(example);
</script>
