<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/radio.css">
    <script type="module" src="/js/radio.js"></script>
</head>
<body>
    <radio-component
    data-label="Example"
    data-name="example"
    data-value="example"
></radio-component>

<radio-component
    class="mt-2"
    data-label="Example"
    data-name="example"
    data-value="example"
    data-disabled="true"
></radio-component>

<script>
    document.querySelector('radio-component').addEventListener("change", e => {
        console.log(e.detail);
    });
</script>

</body>
</html>
