<div id="container" flex="row nowrap items-center">
    <brixi-filter-chip
        data-label="Tacos"
        data-value="Tacos"
        class="mr-0.5"
    ></brixi-filter-chip>
    <brixi-filter-chip
        data-label="Burritos"
        data-value="Burritos"
        class="mr-0.5"
    ></brixi-filter-chip>
    <brixi-filter-chip
        data-label="Quesadillas"
        data-value="Quesadillas"
        class="mr-0.5"
    ></brixi-filter-chip>
</div>

<script>
    const filterChips = document.querySelectorAll('brixi-filter-chip');
    filterChips.forEach(filterChip => {
        filterChip.addEventListener('change', (e) => {
            console.log(e.detail);
        });
    });
</script>
