.table {
    display: block;
    width: 100%;

    thead {
        display: block;
        width: 100%;

        tr {
            display: flex;
            align-items: center;
            height: 52px;
            width: 100%;
            border-radius: 0.25rem 0.25rem 0 0;
            border: 1px solid var(--neutral-200);

            th {
                color: var(--grey-800);
                padding: 0 1rem;
                font-weight: var(--font-bold);
                font-size: var(--font-sm);
                text-align: left;
                text-overflow: ellipsis;
                position: relative;
                width: 20%;
            }
        }
    }

    tbody {
        display: block;
        width: 100%;

        tr {
            display: flex;
            align-items: center;
            height: 52px;
            width: 100%;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: var(--neutral-200);
            transition: all 150ms var(--ease-in-out);
            cursor: pointer;
            user-select: none;

            &:last-of-type {
                border-radius: 0 0 0.25rem 0.25rem;
            }

            &:hover {
                background-color: var(--neutral-100);

                td {
                    color: var(--grey-800);
                }
            }

            // &:active {
            //     background-color: var(--grey-200);

            //     td {
            //         color: var(--grey-800);
            //     }
            // }

            td {
                color: var(--grey-700);
                padding: 0 1rem;
                font-size: var(--font-sm);
                text-align: left;
                text-overflow: ellipsis;
                position: relative;
                text-transform: capitalize;
                width: 20%;
            }
        }
    }
}
