<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/input.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
    <script type="module">
        import { configure, update, mount, css } from "https://cdn.jsdelivr.net/npm/@codewithkyle/lazy-loader@1/lazy-loader.min.mjs";
        configure({
            jsDir: "/mpa/js",
            cssDir: "/css",
            default: "eager"
        });
    </script>
    <script type="module">
        import notifications from "/spa/js/alerts.js";
        window.addEventListener("alert:toast", (e) => {
            notifications.toast(e.detail)
        });
    </script>
</head>
<body>
    <input-component css="input" class="mb-2 input" state="IDLING" web-component>
    <label for="demo1">Example</label>
    <p>This is an example input.</p>
    <input-container>
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path></svg>
        </i>
        <input minlength="5" maxlength="10" type="text" id="demo1" name="demo1" autocapitalize="none" autocomplete="off" required>
    </input-container>
</input-component>
<input-component 
    css="input button toast" 
    class="mb-2 input" 
    state="IDLING" 
    web-component
    x-data=""
>
    <label for="demo2">Read Only Example</label>
    <input-container>
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path></svg>
        </i>
        <input x-ref="demo2" readonly type="text" id="demo2" name="demo2" value="Click to copy this text">
        <button 
            class="bttn absolute r-0 b-0" 
            kind="text" 
            color="primary" 
            size="slim" 
            icon="center" 
            dull="" 
            type="button"
            x-on:click="window.navigator.clipboard.writeText($refs.demo2.value).then(()=>{ $dispatch('alert:toast', 'Copied to clpboard') });"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path>
                <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
            </svg>
        </button>
    </input-container>
</input-component>
<input-component css="input" class="mb-2 input" state="DISABLED" web-component>
    <label for="demo3">Example</label>
    <input-container>
        <input type="text" id="demo3" name="demo3" disabled>
    </input-container>
</input-component>

</body>
</html>
