<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module" src="/js/soundscape.js"></script>
    <script type="module" src="/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/checkbox-group.css">
    <script type="module" src="/js/checkbox-group.js"></script>
</head>
<body>
    <script type="module">
    import Component from "/js/checkbox-group.js";
    const example = new Component({
        label: "Example",
        name: "example",
        instructions: "Lorem ipsum and wat knot...",
        options: [
            {
                label: "Example 1",
            },
            {
                label: "Example 2",
            },
            {
                label: "Example 3",
                checked: true,
            },
        ],
    });
    document.body.appendChild(example);
</script>

</body>
</html>
