.input {
    display: inline-block;
    width: 100%;
    position: relative;

    &[readonly] {
        input-container {
            input {
                padding-right: 2.5rem;
            }
        }
    }

    &[state="DISABLED"] {
        cursor: not-allowed !important;
        opacity: 0.6;

        @media (prefers-color-scheme: dark) {
            opacity: 0.3;
        }

        label,
        p {
            color: var(--grey-400) !important;

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300) !important;
            }
        }
        input-container {
            background-color: var(--grey-50) !important;
            border-color: var(--grey-200) !important;
            box-shadow: none !important;

            @media (prefers-color-scheme: dark) {
                background-color: transparent !important;
                border-color: var(--grey-700) !important;
            }

            input {
                cursor: not-allowed !important;
                background-color: var(--grey-50) !important;

                @media (prefers-color-scheme: dark) {
                    background-color: hsl(var(--white-hsl) / 0.05) !important;
                }
            }

            i {
                @media (prefers-color-scheme: dark) {
                    border-color: var(--grey-700) !important;
                    background-color: hsl(var(--white-hsl) / 0.05) !important;
                    color: var(--grey-400) !important;
                }
            }
        }
    }

    &[state="ERROR"] {
        p {
            color: var(--danger-700) !important;
        }
        input-container {
            border-color: var(--danger-400) !important;

            i {
                background-color: var(--danger-50) !important;
                border-color: var(--danger-400) !important;
                color: var(--danger-400) !important;
            }
        }

        @media (prefers-color-scheme: dark) {
            p {
                color: var(--danger-400) !important;
            }
            input-container {
                &:focus-within {
                    box-shadow: 0 0 0 5px hsl(var(--danger-400-hsl) / 0.1) !important;
                }

                i {
                    background-color: hsl(var(--danger-300-hsl) / 0.05) !important;
                    border-color: var(--danger-400) !important;
                    color: var(--danger-400) !important;
                }
                input {
                    background-color: hsl(var(--danger-300-hsl) / 0.05) !important;
                }
            }
        }
    }

    label {
        display: block;
        width: 100%;
        font-size: var(--font-sm);
        font-weight: var(--font-medium);
        color: var(--grey-800);
        margin-bottom: 0.5rem;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    input {
        height: 36px;
        display: block;
        width: 100%;
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 36px;
        padding: 0 0.5rem;
        color: var(--grey-800);
        transition: all 80ms var(--ease-in-out);

        &::placeholder {
            color: var(--grey-400);
        }

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
            background-color: hsl(var(--white-hsl) / 0.05);

            &:focus:not(:read-only) {
                background-color: hsl(var(--white-hsl) / 0);
            }

            &::placeholder {
                color: var(--grey-500);
            }
        }
    }

    p {
        display: block;
        margin-bottom: 0.5rem;
        font-size: var(--font-xs);
        color: var(--grey-500);
        line-height: 1.375;
        transition: all 80ms var(--ease-in-out);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    input-container {
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        border-radius: 0.375rem;
        border: var(--input-border);
        background-color: var(--white);
        transition: all 80ms var(--ease-in-out);
        box-shadow: 0 1px 1px hsl(var(--black-hsl) / 0.1);
        outline-offset: 0;

        &:focus-within {
            outline: var(--focus-ring);
            outline-offset: var(--focus-ring-offset);
            transition: outline-offset 80ms var(--ease-in-out);

            @media (prefers-color-scheme: dark) {
                border-color: var(--primary-400);
                outline: none;
                box-shadow: 0 0 0 5px hsl(var(--primary-400-hsl) / 0.1);

                i {
                    border-color: var(--primary-400);
                    color: var(--primary-400);
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: var(--bevel);
            pointer-events: none;
            z-index: 5;
        }

        @media (prefers-color-scheme: dark) {
            border-color: var(--grey-700);
            box-shadow: none;
            background-color: transparent;

            &::after {
                display: none;
            }
        }
    }

    .eye {
        pointer-events: all;
        background-color: transparent;
        border-right: none;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        color: var(--grey-400);
        z-index: 2;
        transition: all 80ms var(--ease-in-out);
        position: absolute;
        bottom: 0;
        right: 0;

        &:hover {
            color: var(--grey-700);
        }

        &:active {
            color: var(--grey-800);
        }

        @media (prefers-color-scheme: dark) {
            color: var(--grey-400);

            &:hover {
                color: var(--grey-200);
            }

            &:active {
                color: var(--white);
            }
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }

    i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        pointer-events: none;
        color: var(--grey-400);
        background-color: var(--grey-50);
        border-right: var(--input-border);
        z-index: 2;
        transition: all 80ms var(--ease-in-out);
        border-radius: 0.375rem 0 0 0.375rem;

        @media (prefers-color-scheme: dark) {
            border-color: var(--grey-700);
            background-color: hsl(var(--white-hsl) / 0.05);
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }
}
