<brixi-tabs>
    <tabs-container>
        <brixi-tab tabindex="0" class="is-active" role="button" aria-label="Open List">
            <span>List</span>
        </brixi-tab>
        <brixi-tab tabindex="0" role="button" aria-label="Open Board">
            <span>Board</span>
        </brixi-tab>
        <brixi-tab tabindex="0" class="has-icon" role="button" aria-label="Open Calendar">
            <span>
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                </i>
                Calendar
            </span>
        </brixi-tab>
        <brixi-tab tabindex="0" role="button" aria-label="Open Files">
            <span>Files</span>
        </brixi-tab>
    </tabs-container>
</brixi-tabs>
