brixi-overflow-menu {
    border-radius: 0.75rem;
    background-color: var(--white);
    border: 1px solid var(--grey-300);
    box-shadow: var(--shadow-black-md);
    padding: 0.5rem 0;
    display: inline-block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media (prefers-color-scheme: dark) {
        background-color: var(--grey-950);
        border-color: var(--grey-700);
    }

    &.is-visible {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
    }

    & button {
        width: calc(100% - 1rem);
        margin: 0 0.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        height: 32px;
        padding: 0 0.5rem;
        color: var(--grey-700);
        position: relative;
        font-size: var(--font-sm);
        line-height: 1;
        white-space: nowrap;
        outline-offset: 0;

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }

        &:focus-visible {
            outline: var(--focus-ring);
            outline-offset: var(--focus-ring-offset);
            transition: outline-offset 80ms var(--ease-in-out);
        }

        &:hover,
        &:focus-visible {
            &::before {
                opacity: 0.05;
            }
        }

        &:active {
            outline-offset: 0;

            &::before {
                opacity: 0.1;
            }
        }

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: var(--grey-500);
            transition: all 80ms var(--ease-in-out);

            @media (prefers-color-scheme: dark) {
                background-color: var(--white);
            }
        }

        &.danger {
            color: var(--danger-700);

            &::before {
                background-color: var(--danger-500);
            }

            & i {
                & svg {
                    color: var(--danger-700);
                }
            }

            @media (prefers-color-scheme: dark) {
                color: var(--danger-400);

                &::before {
                    background-color: var(--danger-400);
                }

                & i {
                    & svg {
                        color: var(--danger-400);
                    }
                }
            }
        }

        & + button {
            margin-top: 0.25rem;
        }

        & i {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.25rem;
            margin-left: -0.25rem;
            width: 24px;
            height: 24px;

            & svg {
                width: 18px;
                height: 18px;
                color: var(--grey-600);

                @media (prefers-color-scheme: dark) {
                    color: var(--grey-400);
                }
            }
        }
    }

    & hr {
        display: block;
        width: 100%;
        margin: 0.5rem 0;
        border-bottom: 1px solid var(--grey-300);

        @media (prefers-color-scheme: dark) {
            border-bottom-color: var(--grey-700);
        }
    }
}

