<brixi-divider class="mb-4" layout="horizontal" color="primary" line-style="solid">
    <div></div>
</brixi-divider>
<brixi-divider class="mb-4" layout="horizontal" color="success" line-style="solid">
    <div></div>
    <span>Solid Divider</span>
    <div></div>
</brixi-divider>
<brixi-divider class="mb-4" layout="horizontal" color="danger" line-style="solid">
    <div></div>
    <span>Solid Divider</span>
    <div></div>
</brixi-divider>
<brixi-divider class="mb-4" layout="horizontal" color="warning" line-style="solid">
    <div></div>
    <span>Solid Divider</span>
    <div></div>
</brixi-divider>
<brixi-divider class="mb-4" layout="horizontal" color="grey" line-style="dashed">
    <div></div>
    <span>Dashed Divider</span>
    <div></div>
</brixi-divider>
