<div class="w-full text-center">
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-general">Passive</button>
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-warn">Confirm</button>
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-confirm-danger">Confirm Danger</button>
    <button sfx="button" kind="solid" color="grey" class="m-0.5 bttn js-bttn-danger">General Actions</button>
    <script type="module"></script>
</div>
<link href="/css/button.css" rel="stylesheet" />
