<div class="w-full text-center">
    <button sfx="button" kind="solid" color="primary" class="m-0.5 bttn js-bttn-general">Passive</button>
    <button sfx="button" kind="solid" color="primary" class="m-0.5 bttn js-bttn-warn">Confirm</button>
    <button sfx="button" kind="solid" color="primary" class="m-0.5 bttn js-bttn-confirm-danger">Confirm Danger</button>
    <button sfx="button" kind="solid" color="primary" class="m-0.5 bttn js-bttn-danger">Form</button>
    <button sfx="button" kind="solid" color="primary" class="m-0.5 bttn js-bttn-success">Raw Data</button>
    <script type="module">
        import { passive, confirm, form, raw } from "/modal-maker.js";
        document.body.querySelector(".js-bttn-general").addEventListener("click", () => {
            passive({
                heading: "Example Modal",
                message: "This is an example passive modal."
            });
        });
        document.body.querySelector(".js-bttn-warn").addEventListener("click", () => {
            confirm({
                heading: "Example Modal",
                message: "This is an example confirm modal."
            }).then(() => {
                console.log("Confirmed");
            }).catch(() => {
                console.log("Canceled");
            });
        });
        document.body.querySelector(".js-bttn-confirm-danger").addEventListener("click", () => {
            confirm({
                heading: "Example Modal",
                message: "This is an example danger confirm modal.",
                dangerous: true,
                confirmLabel: "delete account",
                size: "medium",
            }).then(() => {
                console.log("Confirmed");
            }).catch(() => {
                console.log("Canceled");
            });
        });
        document.body.querySelector(".js-bttn-danger").addEventListener("click", () => {
            const formEl = document.createElement("form");
            formEl.innerHTML = `<input type="text" placeholder="Your name" name="fullName">`;
            form({
                form: formEl,
            }).then((data) => {
                console.log(data.get("fullName"));
            }).catch(() => {
                console.log("Form rejected");
            });
        });
        document.body.querySelector(".js-bttn-success").addEventListener("click", () => {
            raw({
                heading: "Waffles",
                message: "They're better than pancakes. Don't @ me.",
                el: `<img class="w-full ar-16:9" src="https://images.unsplash.com/photo-1616709620730-0058222c8389?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=80" alt="waffles on white ceramic plate">`,
                size: "large",
            });
        });
    </script>
</div>
<link href="/modals.css" rel="stylesheet">
<link href="/button.css" rel="stylesheet">