<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/overflow-menu.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
    <script type="module">
        import { configure, update, mount, css } from "https://cdn.jsdelivr.net/npm/@codewithkyle/lazy-loader@1/lazy-loader.min.mjs";
        configure({
            jsDir: "/mpa/js",
            cssDir: "/css",
            default: "eager"
        });
    </script>
    <script type="module">
        import notifications from "/spa/js/alerts.js";
        window.addEventListener("alert:toast", (e) => {
            notifications.toast(e.detail)
        });
        window.addEventListener("alert:snackbar", (e) => {
            notifications.snackbar(e.detail)
        });
        window.addEventListener("alert:info", (e) => {
            notifications.alert(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:success", (e) => {
            notifications.success(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:warn", (e) => {
            notifications.warn(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:error", (e) => {
            notifications.error(e.detail.title, e.detail.message);
        });
    </script>
</head>
<body>
    <brixi-overflow-menu
    web-component
    class="is-visible"
    style="transform: translate(16px, 16px);"
>
    <button type="button">
        <span>Example</span>
    </button>
    <button type="button">
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path></svg>
        </i> 
        <span>Example</span>
    </button>
    <hr>
    <button type="button" class="danger">
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
        </i> 
        <span>Example</span>
    </button>
</brixi-overflow-menu>

</body>
</html>
