<script type="module">
    import Component from "/progress-indicator.js";
    const example = new Component({
        total: 100,
        finishedCallback: () => {
            example.reset();
        },
    });
    document.body.appendChild(example);
    const example2 = new Component({
        total: 100,
        color: "primary",
        finishedCallback: () => {
            example.reset();
        },
    });
    document.body.appendChild(example2);
    const example3 = new Component({
        total: 100,
        color: "success",
        finishedCallback: () => {
            example.reset();
        },
    });
    document.body.appendChild(example3);
    const example4 = new Component({
        total: 100,
        color: "warning",
        finishedCallback: () => {
            example.reset();
        },
    });
    document.body.appendChild(example4);
    const example5 = new Component({
        total: 100,
        color: "danger",
        finishedCallback: () => {
            example.reset();
        },
    });
    document.body.appendChild(example5);

    setInterval(() => {
        example.tick();
        example2.tick();
        example3.tick();
        example4.tick();
        example5.tick();
    }, 150);
</script>
