<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/progress-indicator.css">
    <script type="module" src="/spa/js/progress-indicator.js"></script>
</head>
<body>
    <progress-indicator
    data-total="100"
></progress-indicator>

<progress-indicator
    data-total="100"
    data-color="primary"
></progress-indicator>

<progress-indicator
    data-total="100"
    data-color="success"
></progress-indicator>

<progress-indicator
    data-total="100"
    data-color="warning"
></progress-indicator>

<progress-indicator
    data-total="100"
    data-color="danger"
></progress-indicator>
    

<script>
    setInterval(() => {
        document.querySelectorAll('progress-indicator').forEach((element) => {
            element.tick();
        });
    }, 150);
</script>

</body>
</html>
