steps-component {
    &.vertical {
        button {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            cursor: default;
            user-select: none;

            &:not(:last-of-type) {
                padding-bottom: 2rem;
            }

            &:last-of-type {
                &::before {
                    display: none;
                }
            }

            &[state="pending"] {
                h3 {
                    color: var(--grey-800);
                }

                p {
                    color: var(--grey-700);
                }

                @media (prefers-color-scheme: dark) {
                    h3 {
                        color: var(--grey-500);
                    }

                    p {
                        color: var(--grey-500);
                    }
                }
            }

            &[state="active"] {
                h3 {
                    color: var(--primary-700);
                }

                p {
                    color: var(--grey-700);
                }

                i {
                    border-color: var(--primary-600);

                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                @media (prefers-color-scheme: dark) {
                    h3 {
                        color: var(--primary-300);
                    }

                    p {
                        color: var(--grey-300);
                    }

                    i {
                        border-color: var(--primary-400);
                    }
                }
            }

            &[state="completed"] {
                cursor: pointer;

                &::before {
                    background-color: var(--primary-600);

                    @media (prefers-color-scheme: dark) {
                        background-color: var(--primary-400);
                    }
                }

                h3 {
                    color: var(--grey-800);
                }

                p {
                    color: var(--grey-700);
                }

                i {
                    background-color: var(--primary-600);
                    border-color: var(--primary-600);

                    svg {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &:hover,
                &:focus-visible {
                    .copy {
                        &::before {
                            background-color: var(--grey-50);
                        }
                    }
                }

                &:active {
                    .copy {
                        &::before {
                            background-color: var(--grey-100);
                        }
                    }
                }

                @media (prefers-color-scheme: dark) {
                    h3 {
                        color: var(--grey-500);
                    }

                    p {
                        color: var(--grey-500);
                    }

                    i {
                        background-color: var(--primary-400);
                        border-color: var(--primary-400);
                    }

                    &:hover,
                    &:focus-visible {
                        .copy {
                            &::before {
                                background-color: hsl(var(--grey-400-hsl) / 0.05);
                            }
                        }
                    }

                    &:active {
                        .copy {
                            &::before {
                                background-color: hsl(var(--grey-400-hsl) / 0.1);
                            }
                        }
                    }
                }
            }

            &::before {
                content: "";
                display: inline-block;
                width: 2px;
                height: calc(100% - 43px);
                top: 41px;
                left: 18px;
                position: absolute;
                background-color: var(--grey-200);
                border-radius: 1px;
                transition: all 80ms var(--ease-in-out);

                @media (prefers-color-scheme: dark) {
                    background-color: var(--grey-700);
                }
            }

            .copy {
                display: flex;
                flex-flow: column wrap;
                align-items: flex-start;
                justify-content: flex-end;
                text-align: left;
                width: 100%;
                flex: 1;
                position: relative;

                &::before {
                    content: "";
                    transition: all 80ms var(--ease-in-out);
                    position: absolute;
                    top: -0.5rem;
                    left: -0.5rem;
                    width: calc(100% + 1rem);
                    height: calc(100% + 1rem);
                    border-radius: 0.5rem;
                    background-color: transparent;
                }
            }

            i {
                width: 36px;
                height: 36px;
                border: 2px solid var(--grey-300);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: var(--white);
                margin-right: 1rem;
                border-radius: 50%;
                background-color: var(--white);
                transition: all 80ms var(--ease-in-out);

                @media (prefers-color-scheme: dark) {
                    background-color: transparent;
                    border-color: var(--grey-700);
                }

                svg {
                    width: 24px;
                    height: 24px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 80ms var(--ease-in-out);
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background-color: var(--primary-600);
                    border-radius: 50%;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 80ms var(--ease-in-out);

                    @media (prefers-color-scheme: dark) {
                        background-color: var(--primary-400);
                    }
                }
            }
        }
    }
}
