<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/form.css">
    <script type="module" src="/spa/js/form.js"></script>
</head>
<body>
    <brixi-form class="p-1.5 border-1 border-solid border-grey-300 dark:border-grey-700 radius-0.5">
    <brixi-select
        data-name="example"
        data-label="Example"
        data-options='[{"label":"Option 1","value":"option1"},{"label":"Option 2","value":"option2"}]' 
        data-value="option1"
        class="mb-1.5"
    ></brixi-select>
    <brixi-submit-button></brixi-submit-button>
</brixi-form>

<script type="module" src="/spa/js/submit-button.js"></script>
<script type="module" src="/spa/js/select.js"></script>

<script>
    const form = document.querySelector('brixi-form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const form = e.currentTarget;
        if (form.checkValidity()){
            console.log(form.serialize());
            setTimeout(() => {
                form.reset();
                form.stop();
            }, 1000);
        }
    });
</script>

</body>
</html>
