<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/select.css">
    <script type="module" src="/spa/js/select.js"></script>
</head>
<body>
    <brixi-select
    data-options='[{"label":"","value":""},{"label":"Option 1","value":"option1"},{"label":"Option 2","value":"option2"}]' 
    data-label="Example Select" 
    data-instructions="This is an example select component" 
    data-icon='<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path d="M12 8v4"></path><path d="M12 16h.01"></path></svg>'
    data-name="example"
    data-required="true"
    class="mb-2"
></brixi-select>

<brixi-select
    data-options='[{"label":"","value":""},{"label":"Option 1","value":"option1"},{"label":"Option 2","value":"option2"}]' 
    data-label="Example Select" 
    data-instructions="This is an example select component" 
    data-name="example"
    data-disabled="true"
></brixi-select>

<script>
    const select = document.querySelector('brixi-select');
    select.addEventListener('change', (e) => {
        console.log(e.detail);
    });
</script>

</body>
</html>
