<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/filter-chip.css">
    <script type="module" src="/spa/js/filter-chip.js"></script>
</head>
<body>
    <div id="container" flex="row nowrap items-center">
    <brixi-filter-chip
        data-label="Tacos"
        data-value="Tacos"
        class="mr-0.5"
    ></brixi-filter-chip>
    <brixi-filter-chip
        data-label="Burritos"
        data-value="Burritos"
        class="mr-0.5"
    ></brixi-filter-chip>
    <brixi-filter-chip
        data-label="Quesadillas"
        data-value="Quesadillas"
        class="mr-0.5"
    ></brixi-filter-chip>
</div>

<script>
    const filterChips = document.querySelectorAll('brixi-filter-chip');
    filterChips.forEach(filterChip => {
        filterChip.addEventListener('change', (e) => {
            console.log(e.detail);
        });
    });
</script>

</body>
</html>
