<brixi-multi-select
    data-label="Fruit"
    data-name="fruit"
    data-search="fuzzy"
    data-required="true"
    data-options='[
        {
            "label": "Apples",
            "value": "apples"
        },
        {
            "label": "Pears",
            "value": "pears"
        },
        {
            "label": "Bananas",
            "value": "bananas"
        }
    ]'
></brixi-multi-select>

<brixi-multi-select
    class="mt-2"
    data-label="Fruit"
    data-name="fruit"
    data-search="fuzzy"
    data-disabled="true"
    data-options='[
        {
            "label": "Apples",
            "value": "apples"
        },
        {
            "label": "Pears",
            "value": "pears"
        },
        {
            "label": "Bananas",
            "value": "bananas"
        }
    ]'
></brixi-multi-select>

<script>
    document.querySelector('brixi-multi-select').addEventListener('change', (e) => {
        console.log(e.detail);
    });
</script>
