steps-component {
    display: block;
    width: 100%;
    position: relative;

    h4 {
        display: block;
        line-height: 1.375;
        font-weight: var(--font-medium);
        color: var(--primary-700);
        font-size: var(--font-sm);
        text-transform: uppercase;

        @media (prefers-color-scheme: dark) {
            color: var(--primary-300);
        }
    }

    h3 {
        display: block;
        line-height: 1.375;
        font-weight: var(--font-medium);
        text-transform: uppercase;
        color: var(--grey-700);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    p {
        display: block;
        line-height: 1.375;
        font-size: var(--font-xs);
        color: var(--grey-500);

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }
}
