<brixi-radio state="IDLING">
    <div class="inline-block mr-auto">
        <input type="radio" name="example" id="demo1" value="example">
        <label for="demo1">
            <i tabindex="0" role="button" aria-label="click to check the option Example"></i>
            <span>Example</span>
        </label>
    </div>
</brixi-radio>

<brixi-radio class="mt-2" state="DISABLED">
    <div class="inline-block mr-auto">
        <input type="radio" name="example" id="demo2" disabled value="example">
        <label for="demo2">
            <i tabindex="0" role="button" aria-label="click to check the option Example"></i>
            <span>Example</span>
        </label>
    </div>
</brixi-radio>
