.button {
    display: inline-flex;
    min-height: 36px;
    line-height: 1.375;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: var(--font-sm);
    text-transform: uppercase;
    user-select: none;
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: all 75ms ease-in-out;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    &[type="submit"] {
        html[state="soft-loading"] & {
            border-color: var(--neutral-200) !important;
            background-color: var(--neutral-200) !important;
            cursor: not-allowed !important;
            color: var(--neutral-700) !important;

            &::before {
                display: none !important;
            }
        }
    }

    &[disabled] {
        border-color: var(--neutral-200) !important;
        background-color: var(--neutral-200) !important;
        cursor: not-allowed !important;
        color: var(--neutral-700) !important;

        &::before {
            display: none !important;
        }
    }

    &.-text {
        padding: 0 0.5rem;

        &.-primary {
            color: var(--primary-700);

            &:hover,
            &:focus,
            &:active {
                color: var(--primary-800);
            }

            &::before {
                background-color: var(--primary-500);
            }
        }

        &.-black {
            color: var(--black);

            &::before {
                background-color: var(--grey-900);
            }
        }

        &.-grey {
            color: var(--grey-800);

            &:hover,
            &:focus,
            &:active {
                color: var(--grey-900);
            }

            &::before {
                background-color: var(--grey-500);
            }
        }

        &.-neutral {
            color: var(--neutral-800);

            &:hover,
            &:focus,
            &:active {
                color: var(--neutral-900);
            }

            &::before {
                background-color: var(--neutral-500);
            }
        }

        &.-white {
            color: var(--white);

            &::before {
                background-color: var(--white);
            }
        }

        &.-success {
            color: var(--success-700);

            &:hover,
            &:focus,
            &:active {
                color: var(--success-800);
            }

            &::before {
                background-color: var(--success-500);
            }
        }

        &.-warning {
            color: var(--warning-700);

            &:hover,
            &:focus,
            &:active {
                color: var(--warning-800);
            }

            &::before {
                background-color: var(--warning-500);
            }
        }

        &.-danger {
            color: var(--danger-700);

            &:hover,
            &:focus,
            &:active {
                color: var(--danger-800);
            }

            &::before {
                background-color: var(--danger-500);
            }
        }

        &:hover,
        &:focus {
            &::before {
                opacity: 0.1;
                transform: translate(-50%, -50%) scale(1);
                transition: all 150ms var(--ease-bounce);
            }
        }

        &:active {
            &::before {
                opacity: 0.15;
                transform: translate(-50%, -50%) scale(1.05);
            }
        }

        &::before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 0.125rem;
            background-color: transparent;
            opacity: 0.06;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: all 75ms var(--ease-in-out);
        }
    }

    &.-solid {
        padding: 0 1rem;

        &.-primary {
            background-color: var(--primary-700);
            border-color: var(--primary-700);
            color: var(--white);

            &:hover,
            &:focus {
                background-color: var(--primary-600);
                border-color: var(--primary-600);
            }

            &:focus-visible {
                box-shadow: 0 0 0 4px var(--primary-200);
            }

            &:active {
                background-color: var(--primary-800);
                border-color: var(--primary-800);
                box-shadow: 0 0 0 4px var(--primary-200);
            }

            &.-light {
                background-color: var(--primary-200);
                border-color: var(--primary-200);
                color: var(--black);

                &:hover,
                &:focus {
                    background-color: var(--primary-300);
                    border-color: var(--primary-300);
                }

                &:focus-visible {
                    box-shadow: 0 0 0 4px var(--primary-200);
                }

                &:active {
                    background-color: var(--primary-400);
                    border-color: var(--primary-400);
                    box-shadow: 0 0 0 4px var(--primary-200);
                }
            }
        }

        &.-black {
            background-color: var(--grey-900);
            border-color: var(--grey-900);
            color: var(--white);

            &:hover,
            &:focus {
                background-color: var(--grey-800);
                border-color: var(--grey-800);
                color: var(--white);
            }

            &:focus-visible {
                box-shadow: 0 0 0 4px var(--grey-200);
            }

            &:active {
                background-color: var(--black);
                border-color: var(--black);
                color: var(--white);
                box-shadow: 0 0 0 4px var(--grey-200);
            }
        }

        &.-grey {
            background-color: var(--grey-200);
            border-color: var(--grey-200);
            color: var(--grey-900);

            &:hover,
            &:focus {
                background-color: var(--grey-300);
                border-color: var(--grey-300);
            }

            &:focus-visible {
                box-shadow: 0 0 0 4px var(--grey-200);
            }

            &:active {
                background-color: var(--grey-400);
                border-color: var(--grey-400);
                box-shadow: 0 0 0 4px var(--grey-200);
            }
        }

        &.-neutral {
            background-color: var(--neutral-200);
            border-color: var(--neutral-200);
            color: var(--neutral-900);

            &:hover,
            &:focus {
                background-color: var(--neutral-300);
                border-color: var(--neutral-300);
            }

            &:focus-visible {
                box-shadow: 0 0 0 4px var(--neutral-200);
            }

            &:active {
                background-color: var(--neutral-400);
                border-color: var(--neutral-400);
                box-shadow: 0 0 0 4px var(--neutral-200);
            }
        }

        &.-white {
            background-color: var(--white);
            border-color: var(--white);
            color: var(--grey-900);

            &:hover,
            &:focus {
                background-color: var(--grey-100);
                border-color: var(--grey-100);
            }

            &:focus-visible {
                box-shadow: 0 0 0 4px var(--grey-200);
            }

            &:active {
                background-color: var(--grey-200);
                border-color: var(--grey-200);
                box-shadow: 0 0 0 4px var(--grey-200);
            }
        }

        &.-success {
            background-color: var(--success-700);
            border-color: var(--success-700);
            color: var(--white);

            &:hover,
            &:focus {
                background-color: var(--success-600);
                border-color: var(--success-600);
            }

            &:focus-visible {
                box-shadow: 0 0 0 4px var(--success-200);
            }

            &:active {
                background-color: var(--success-800);
                border-color: var(--success-800);
                box-shadow: 0 0 0 4px var(--success-200);
            }

            &.-light {
                background-color: var(--success-200);
                border-color: var(--success-200);
                color: var(--black);

                &:hover,
                &:focus {
                    background-color: var(--success-300);
                    border-color: var(--success-300);
                }

                &:focus-visible {
                    box-shadow: 0 0 0 4px var(--success-200);
                }

                &:active {
                    background-color: var(--success-400);
                    border-color: var(--success-400);
                    box-shadow: 0 0 0 4px var(--success-200);
                }
            }
        }

        &.-warning {
            background-color: var(--warning-400);
            border-color: var(--warning-400);
            color: var(--black);

            &:hover,
            &:focus {
                background-color: var(--warning-300);
                border-color: var(--warning-300);
            }

            &:focus-visible {
                box-shadow: 0 0 0 4px var(--warning-200);
            }

            &:active {
                background-color: var(--warning-500);
                border-color: var(--warning-500);
                box-shadow: 0 0 0 4px var(--warning-200);
            }

            &.-light {
                background-color: var(--warning-200);
                border-color: var(--warning-200);
                color: var(--black);

                &:hover,
                &:focus {
                    background-color: var(--warning-300);
                    border-color: var(--warning-300);
                }

                &:focus-visible {
                    box-shadow: 0 0 0 4px var(--warning-200);
                }

                &:active {
                    background-color: var(--warning-400);
                    border-color: var(--warning-400);
                    box-shadow: 0 0 0 4px var(--warning-200);
                }
            }
        }

        &.-danger {
            background-color: var(--danger-700);
            border-color: var(--danger-700);
            color: var(--white);

            &:hover,
            &:focus {
                background-color: var(--danger-600);
                border-color: var(--danger-600);
            }

            &:focus-visible {
                box-shadow: 0 0 0 4px var(--danger-200);
            }

            &:active {
                background-color: var(--danger-800);
                border-color: var(--danger-800);
                box-shadow: 0 0 0 4px var(--danger-200);
            }

            &.-light {
                background-color: var(--danger-200);
                border-color: var(--danger-200);
                color: var(--black);

                &:hover,
                &:focus {
                    background-color: var(--danger-300);
                    border-color: var(--danger-300);
                }

                &:focus-visible {
                    box-shadow: 0 0 0 4px var(--danger-200);
                }

                &:active {
                    background-color: var(--danger-400);
                    border-color: var(--danger-400);
                    box-shadow: 0 0 0 4px var(--danger-200);
                }
            }
        }
    }

    &.-outline {
        padding: 0 1rem;

        &.-primary {
            border-color: var(--primary-700);
            color: var(--primary-800);

            &:active {
                color: var(--primary-900);
            }

            &::before {
                background-color: var(--primary-500);
            }
        }

        &.-black {
            border-color: var(--grey-700);
            color: var(--grey-800);

            &:active {
                color: var(--grey-900);
            }

            &::before {
                background-color: var(--grey-900);
            }
        }

        &.-grey {
            border-color: var(--grey-300);
            color: var(--grey-800);

            &:active {
                color: var(--grey-900);
            }

            &::before {
                background-color: var(--grey-500);
            }
        }

        &.-neutral {
            border-color: var(--neutral-300);
            color: var(--neutral-800);

            &:active {
                color: var(--neutral-900);
            }

            &::before {
                background-color: var(--neutral-500);
            }
        }

        &.-white {
            border-color: var(--white);
            color: var(--white);

            &::before {
                background-color: var(--white);
            }
        }

        &.-success {
            border-color: var(--success-700);
            color: var(--success-800);

            &:active {
                color: var(--success-900);
            }

            &::before {
                background-color: var(--success-500);
            }
        }

        &.-warning {
            border-color: var(--warning-700);
            color: var(--warning-800);

            &:active {
                color: var(--warning-900);
            }

            &::before {
                background-color: var(--warning-500);
            }
        }

        &.-danger {
            border-color: var(--danger-700);
            color: var(--danger-800);

            &:active {
                color: var(--danger-900);
            }

            &::before {
                background-color: var(--danger-500);
            }
        }

        &:hover,
        &:focus {
            &::before {
                opacity: 0.1;
            }
        }

        &:active {
            &::before {
                opacity: 0.15;
            }
        }

        &::before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            background-color: transparent;
            left: 0;
            transition: all 75ms ease-in-out;
        }
    }

    &.-tall {
        height: 52px;
        line-height: 52px;

        &.-pill {
            border-radius: 26px;
        }

        &.-icon-only {
            width: 52px;
        }
    }

    &.-rounded {
        border-radius: 0.125rem;
    }

    &.-pill {
        border-radius: 18px;
    }

    &.-raised {
        box-shadow: var(--shadow-lg) !important;

        &.-solid.-white {
            border-color: var(--grey-100);

            &:active {
                border-color: var(--grey-200);
            }
        }

        &:active {
            box-shadow: var(--shadow-sm) !important;
            transform: translateY(2px);
        }
    }

    &.-round {
        border-radius: 50%;
    }

    &.-icon-only {
        padding: 0;
        width: 36px;

        i {
            margin-right: 0;
        }
    }

    &.-icon {
        padding: 0 1rem 0 0.5rem;
    }

    .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 0.25rem;

        svg {
            width: 16px;
            height: 16px;
        }
    }
}
