.bttn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    background-color: var(--primary-700);
    border: 1px solid var(--primary-800);
    transition: all 150ms var(--ease-in-out);
    padding: 0 1rem;
    min-height: 36px;
    box-shadow: none;
    text-transform: uppercase;
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    user-select: none;
    cursor: pointer;

    &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 75ms var(--ease-in-out);
    }

    &:focus-visible {
        border-radius: 0px !important;
        border: 1px solid var(--white) !important;
        outline: 1px solid var(--black) !important;
    }

    &[shape="rounded"] {
        border-radius: 0.25rem;

        &::before {
            border-radius: 0.25rem;
        }
    }

    &[shape="round"] {
        border-radius: 50%;

        &::before {
            border-radius: 50%;
        }
    }

    &[shape="pill"] {
        border-radius: 18px;

        &::before {
            border-radius: 18px;
        }
    }

    &[icon="center"] {
        width: 36px;
        padding: 0;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &[icon="right"] {
        padding: 0 0.75rem 0 1rem;

        svg {
            margin-left: 0.5rem;
        }
    }

    &[icon="left"] {
        padding: 0 1rem 0 0.75rem;

        svg {
            margin-right: 0.5rem;
        }
    }

    svg {
        width: 16px;
        height: 16px;
    }

    &[kind="solid"] {
        &[color="primary"] {
            background-color: var(--primary-700);
            color: var(--white);

            &:hover,
            &:focus-visible {
                border-color: var(--primary-700);
                background-color: var(--primary-600);
            }

            &:active {
                border-color: var(--primary-800);
                background-color: var(--primary-700);
                box-shadow: 0 0 0 5px var(--primary-200);
            }
        }
        &[color="success"] {
            background-color: var(--success-700);
            color: var(--white);

            &:hover,
            &:focus-visible {
                border-color: var(--success-700);
                background-color: var(--success-600);
            }

            &:active {
                border-color: var(--success-800);
                background-color: var(--success-700);
                box-shadow: 0 0 0 5px var(--success-200);
            }
        }
        &[color="warning"] {
            background-color: var(--warning-700);
            color: var(--white);

            &:hover,
            &:focus-visible {
                border-color: var(--warning-700);
                background-color: var(--warning-600);
            }

            &:active {
                border-color: var(--warning-800);
                background-color: var(--warning-700);
                box-shadow: 0 0 0 5px var(--warning-300);
            }
        }
        &[color="danger"] {
            background-color: var(--danger-700);
            color: var(--white);

            &:hover,
            &:focus-visible {
                border-color: var(--danger-700);
                background-color: var(--danger-600);
            }

            &:active {
                border-color: var(--danger-800);
                background-color: var(--danger-700);
                box-shadow: 0 0 0 5px var(--danger-200);
            }
        }
        &[color="grey"] {
            background-color: var(--grey-700);
            color: var(--white);

            &:hover,
            &:focus-visible {
                border-color: var(--grey-700);
                background-color: var(--grey-600);
            }

            &:active {
                border-color: var(--grey-800);
                background-color: var(--grey-700);
                box-shadow: 0 0 0 5px var(--grey-300);
            }
        }
    }

    &[kind="text"] {
        border-color: transparent;
        background: transparent;

        &::before {
            opacity: 0;
        }

        &[color="grey"] {
            color: var(--grey-700);

            &::before {
                background-color: var(--grey-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--grey-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--grey-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
        &[color="primary"] {
            color: var(--primary-700);

            &::before {
                background-color: var(--primary-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--primary-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--primary-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
        &[color="success"] {
            color: var(--success-700);

            &::before {
                background-color: var(--success-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--success-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--success-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
        &[color="warning"] {
            color: var(--warning-700);

            &::before {
                background-color: var(--warning-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--warning-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--warning-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
        &[color="danger"] {
            color: var(--danger-700);

            &::before {
                background-color: var(--danger-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--danger-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--danger-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
    }

    &[kind="outline"] {
        background: transparent;

        &::before {
            opacity: 0;
        }

        &[color="grey"] {
            color: var(--grey-700);
            border-color: var(--grey-700);

            &::before {
                background-color: var(--grey-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--grey-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--grey-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
        &[color="primary"] {
            color: var(--primary-700);
            border-color: var(--primary-700);

            &::before {
                background-color: var(--primary-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--primary-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--primary-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
        &[color="success"] {
            color: var(--success-700);
            border-color: var(--success-700);

            &::before {
                background-color: var(--success-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--success-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--success-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
        &[color="warning"] {
            color: var(--warning-700);
            border-color: var(--warning-700);

            &::before {
                background-color: var(--warning-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--warning-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--warning-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
        &[color="danger"] {
            color: var(--danger-700);
            border-color: var(--danger-700);

            &::before {
                background-color: var(--danger-500);
            }

            &:hover,
            &:focus-visible {
                color: var(--danger-800);

                &::before {
                    opacity: 0.1;
                }
            }

            &:active {
                color: var(--danger-800);

                &::before {
                    opacity: 0.2;
                }
            }
        }
    }
}
