<div class="w-1/4 p-1 radius-0.5 border-solid border-1 border-grey-300 dark:border-grey-700">
    <brixi-lightswitch
        data-name="test"
        data-value="test"
        data-label="Exmaple Lightswitch"
        data-instructions="Lorem ipsum dolor amet."
        class="mb-1"
    ></brixi-lightswitch>

    <brixi-lightswitch
        data-name="test2"
        data-value="test2"
        data-color="primary"
        class="mb-1"
    ></brixi-lightswitch>

    <brixi-lightswitch
        data-name="test"
        data-value="test"
        data-color="warning"
        data-label="Exmaple Lightswitch"
        data-instructions="Lorem ipsum dolor amet."
        class="mb-1"
    ></brixi-lightswitch>

    <brixi-lightswitch
        data-name="test"
        data-value="test"
        data-color="danger"
        data-label="Exmaple Lightswitch"
        data-instructions="Lorem ipsum dolor amet."
        class="mb-1"
    ></brixi-lightswitch>

    <brixi-lightswitch
        data-name="test"
        data-value="test"
        data-color="danger"
        data-label="Exmaple Lightswitch"
        data-instructions="Lorem ipsum dolor amet."
        data-disabled="true"
        class="mb-1"
    ></brixi-lightswitch>
</div>
<script>
    const inputComponent = document.querySelector('brixi-lightswitch');
    inputComponent.addEventListener('change', (event) => {
        console.log(event.detail)
    });
</script>

