badge-component {
    position: absolute;
    top: -6px;
    right: -6px;
    min-width: 12px;
    min-height: 12px;
    display: inline-block;
    opacity: 0;
    animation: badgeFadeIn 150ms 150ms forwards var(--ease-in);

    &.-text {
        width: 24px;
        height: 24px;
        top: -12px;
        right: -12px;
        font-size: 10px;
        color: var(--white);
        text-align: center;
        line-height: 24px;
        font-style: normal;
        font-weight: var(--font-medium);

        span {
            z-index: 3;
        }
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        user-select: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--danger-400);
    }

    &::after {
        animation: badgeGlow 1s var(--ease-in-out) infinite;
    }

    &::before {
        opacity: 0.87;
        transform: scale(0);
        animation: badgePing 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    }
}
@keyframes badgePing {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes badgeGlow {
    0% {
        background-color: var(--danger-500);
        box-shadow: 0 0 0px var(--danger-50);
    }
    50% {
        background-color: var(--danger-400);
        box-shadow: 0 0 4px var(--danger-50);
    }
    100% {
        background-color: var(--danger-500);
        box-shadow: 0 0 0px var(--danger-50);
    }
}
@keyframes badgeFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
