lightswitch-component {
    display: inline-block;
    width: 100%;
    position: relative;

    input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        user-select: none;

        &:focus {
            & + label {
                i {
                    &::before {
                        border-color: var(--primary-400);
                        box-shadow: 0 0 0 5px var(--primary-100);
                        background-color: var(--white);
                    }

                    &::after {
                        background-color: var(--primary-400);
                    }
                }
            }
        }

        &:checked {
            & + label {
                i {
                    &::before {
                        border-color: var(--primary-800);
                        background-color: var(--primary-700);
                    }

                    &::after {
                        background-color: var(--white);
                        transform: translateX(8px);
                    }
                }
            }
        }
    }

    label {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        cursor: pointer;

        &:hover {
            i {
                &::before {
                    border-color: var(--primary-400);
                }

                &::after {
                    background-color: var(--primary-400);
                }
            }
        }

        &:active {
            i {
                &::before {
                    border-color: var(--primary-400);
                    box-shadow: 0 0 0 5px var(--primary-100);
                    background-color: var(--white);
                }
            }
        }

        i {
            width: 48px;
            height: 48px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 42px;
                height: 24px;
                border-radius: 12px;
                border: 1px solid var(--grey-400);
                transition: all 150ms var(--ease-in-out);
                background-color: var(--grey-100);
            }

            &::after {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: var(--grey-500);
                position: absolute;
                transform: translateX(-8px);
                transition: background-color 150ms var(--ease-in-out), transform 300ms var(--ease-bounce);
            }
        }

        span {
            color: var(--grey-700);
            display: inline-block;
            line-height: 1.375;
            flex: 1;
            padding: 0.5rem 0;
        }
    }
}
