<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script type="module">
        import soundscape from "/spa/js/soundscape.js";
        soundscape.load();
    </script>
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/checkbox-group.css">
    <script type="module" src="/spa/js/checkbox-group.js"></script>
</head>
<body>
    <checkbox-group
    data-label="Example"
    data-name="example"
    data-instructions="Lorem ipsum and wat knot..."
    data-options='[{"label": "Example 1","value":"example1"},{"label": "Example 2","value":"example2"},{"label": "Example 3","checked": true,"value":"example3"}]'
></checkbox-group>

<checkbox-group
    class="mt-2"
    data-label="Example"
    data-name="example"
    data-instructions="Lorem ipsum and wat knot..."
    data-options='[{"label": "Example 1","value":"example1"},{"label": "Example 2","value":"example2"},{"label": "Example 3","checked": true,"value":"example3"}]'
    data-disabled="true"
></checkbox-group>

<script type="module" src="/js/checkbox-group.js"></script>
<script>
    document.querySelector('checkbox-group').addEventListener('change', (event) => {
        console.log(event.detail);
    });
</script>

</body>
</html>
