<brixi-checkbox-group state="IDLING" css="checkbox">
    <p>
        <strong>Example</strong>
        Lorem ipsum and wat knot...
    </p>
    <brixi-checkbox>
        <div class="inline-block mr-auto">
            <input type="checkbox" name="example" id="option1" value="example1">
            <label for="option1">
                <check-box role="button" tabindex="0" aria-label="click to check the box Example 1">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg> </i>
                </check-box>
                <span>Example 1</span>
            </label>
        </div>
    </brixi-checkbox>
    <brixi-checkbox>
        <div class="inline-block mr-auto">
            <input type="checkbox" name="example" id="option2" value="example2">
            <label for="option2">
                <check-box role="button" tabindex="0" aria-label="click to check the box Example 2">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg> </i>
                </check-box>
                <span>Example 2</span>
            </label>
        </div>
    </brixi-checkbox>
    <brixi-checkbox>
        <div class="inline-block mr-auto">
            <input type="checkbox" name="example" id="option3" value="example3">
            <label for="option3">
                <check-box role="button" tabindex="0" aria-label="click to uncheck the box Example 3">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg> </i>
                </check-box>
                <span>Example 3</span>
            </label>
        </div>
    </brixi-checkbox>
</brixi-checkbox-group>

<brixi-checkbox-group state="DISABLED" css="checkbox" class="mt-1">
    <p>
        <strong>Example</strong>
        Lorem ipsum and wat knot...
    </p>
    <brixi-checkbox>
        <div class="inline-block mr-auto">
            <input type="checkbox" name="example3" id="option7" value="example1" disabled>
            <label for="option7">
                <check-box role="button" tabindex="0" aria-label="click to check the box Example 1">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg> </i>
                </check-box>
                <span>Example 1</span>
            </label>
        </div>
    </brixi-checkbox>
    <brixi-checkbox>
        <div class="inline-block mr-auto">
            <input type="checkbox" name="example3" id="option8" value="example2" disabled>
            <label for="option8">
                <check-box role="button" tabindex="0" aria-label="click to check the box Example 2">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg> </i>
                </check-box>
                <span>Example 2</span>
            </label>
        </div>
    </brixi-checkbox>
    <brixi-checkbox>
        <div class="inline-block mr-auto">
            <input type="checkbox" name="example3" id="option9" value="example3" disabled>
            <label for="option9">
                <check-box role="button" tabindex="0" aria-label="click to uncheck the box Example 3">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg> </i>
                </check-box>
                <span>Example 3</span>
            </label>
        </div>
    </brixi-checkbox>
</brixi-checkbox-group>
