<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brixi UI</title>
    <meta name="description" content="A sleek & slender design system built on web components.">
    <link rel="alternate icon" href="/static/favicon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/framework-core.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/component-layout.css">
    <script type="module" src="/spa/js/tooltipper.js"></script>
    <link rel="stylesheet" href="/css/lightswitch.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
    <script type="module">
        import { configure, update, mount, css } from "https://cdn.jsdelivr.net/npm/@codewithkyle/lazy-loader@1/lazy-loader.min.mjs";
        configure({
            jsDir: "/mpa/js",
            cssDir: "/css",
            default: "eager"
        });
    </script>
    <script type="module">
        import notifications from "/spa/js/alerts.js";
        window.addEventListener("alert:toast", (e) => {
            notifications.toast(e.detail)
        });
        window.addEventListener("alert:snackbar", (e) => {
            notifications.snackbar(e.detail)
        });
        window.addEventListener("alert:info", (e) => {
            notifications.alert(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:success", (e) => {
            notifications.success(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:warn", (e) => {
            notifications.warn(e.detail.title, e.detail.message);
        });
        window.addEventListener("alert:error", (e) => {
            notifications.error(e.detail.title, e.detail.message);
        });
    </script>
</head>
<body>
    <div class="w-1/4 p-1 radius-0.5 border-solid border-1 border-grey-300 dark:border-grey-700">

    <brixi-lightswitch 
        class="mb-1" 
        state="IDLING" 
        color="success"
        x-data="{ checked: false }"
    >
        <input 
            type="checkbox" 
            name="demo1" 
            id="demo1" 
            value="demo"
            x-on:change="checked = !checked"
        >
        <label for="demo1">
            <div class="mr-0.75" flex="column wrap">
                <span class="block line-snug font-sm font-medium font-grey-700 dark:font-grey-300">Exmaple Lightswitch</span>
                <span class="block line-snug font-xs font-grey-500 dark:font-grey-300">Lorem ipsum dolor amet.</span>
            </div>
            <light-switch tabindex="0" aria-label="disabled" role="button">
                <i :style="{ transform: checked ? 'translate(26px, 3px)' : 'translate(6px, 3px)'}"></i>
            </light-switch>
        </label>
    </brixi-lightswitch>

    <brixi-lightswitch 
        class="mb-1" 
        state="IDLING" 
        color="primary"
        x-data="{ checked: false }"
    >
        <input 
            type="checkbox" 
            name="demo2" 
            id="demo2" 
            value="demo"
            x-on:change="checked = !checked"
        >
        <label for="demo2">
            <light-switch tabindex="0" aria-label="disabled" role="button">
                <i :style="{ transform: checked ? 'translate(26px, 3px)' : 'translate(6px, 3px)'}"></i>
            </light-switch>
        </label>
    </brixi-lightswitch>

    <brixi-lightswitch 
        class="mb-1" 
        state="IDLING" 
        color="warning"
        x-data="{ checked: false }"
    >
        <input 
            type="checkbox" 
            name="demo3" 
            id="demo3" 
            value="demo"
            x-on:change="checked = !checked"
        >
        <label for="demo3">
            <div class="mr-0.75" flex="column wrap">
                <span class="block line-snug font-sm font-medium font-grey-700 dark:font-grey-300">Exmaple Lightswitch</span>
                <span class="block line-snug font-xs font-grey-500 dark:font-grey-300">Lorem ipsum dolor amet.</span>
            </div>
            <light-switch tabindex="0" aria-label="disabled" role="button">
                <i :style="{ transform: checked ? 'translate(26px, 3px)' : 'translate(6px, 3px)'}"></i>
            </light-switch>
        </label>
    </brixi-lightswitch>

    <brixi-lightswitch 
        class="mb-1" 
        state="IDLING" 
        color="danger"
        x-data="{ checked: false }"
    >
        <input 
            type="checkbox" 
            name="demo4" 
            id="demo4" 
            value="demo"
            x-on:change="checked = !checked"
        >
        <label for="demo4">
            <div class="mr-0.75" flex="column wrap">
                <span class="block line-snug font-sm font-medium font-grey-700 dark:font-grey-300">Exmaple Lightswitch</span>
                <span class="block line-snug font-xs font-grey-500 dark:font-grey-300">Lorem ipsum dolor amet.</span>
            </div>
            <light-switch tabindex="0" aria-label="disabled" role="button">
                <i :style="{ transform: checked ? 'translate(26px, 3px)' : 'translate(6px, 3px)'}"></i>
            </light-switch>
        </label>
    </brixi-lightswitch>

    <brixi-lightswitch 
        class="mb-1" 
        state="DISABLED" 
        x-data="{ checked: false }"
    >
        <input 
            type="checkbox" 
            name="demo5" 
            id="demo5" 
            value="demo"
            x-on:change="checked = !checked"
            disabled
        >
        <label for="demo5">
            <div class="mr-0.75" flex="column wrap">
                <span class="block line-snug font-sm font-medium font-grey-700 dark:font-grey-300">Exmaple Lightswitch</span>
                <span class="block line-snug font-xs font-grey-500 dark:font-grey-300">Lorem ipsum dolor amet.</span>
            </div>
            <light-switch tabindex="0" aria-label="disabled" role="button">
                <i :style="{ transform: checked ? 'translate(26px, 3px)' : 'translate(6px, 3px)'}"></i>
            </light-switch>
        </label>
    </brixi-lightswitch>

</div>

</body>
</html>
